.cf {
  zoom: 1;
}
.cf:after,
.cf:before {
  content: "";
  display: table;
}
.cf:after {
  clear: both;
}

.cf {
  zoom: 1;
}
.cf:after,
.cf:before {
  content: "";
  display: table;
}
.cf:after {
  clear: both;
}

.cf {
  zoom: 1;
}
.cf:after,
.cf:before {
  content: "";
  display: table;
}
.cf:after {
  clear: both;
}

.cf {
  zoom: 1;
}
.cf:after,
.cf:before {
  content: "";
  display: table;
}
.cf:after {
  clear: both;
}

.cf {
  zoom: 1;
}
.cf:after,
.cf:before {
  content: "";
  display: table;
}
.cf:after {
  clear: both;
}

.cf {
  zoom: 1;
}
.cf:after,
.cf:before {
  content: "";
  display: table;
}
.cf:after {
  clear: both;
}
.title-general {
  font-family: 'open_sansbold', sans-serif;
  font-size: 17px;
  color: #898989;
  text-align: left;
  margin-left: 0.5%;
  display: inline-block;
}
.title-general2 {
  font-family: 'open_sansbold', sans-serif;
  font-size: 17px;
  color: #898989;
  text-align: left;
  margin-left: 0.5%;
  display: inline-block;
}
.gral-left {
  width: 50%;
  display: inline-block;
  vertical-align: top;
  text-align: left;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  padding-left: 0.5%;
  line-height: 1;
  margin-bottom: 8px;
}
.gral-left h2 {
  margin-bottom: 0;
}
.gral-right {
  width: 50%;
  display: inline-block;
  vertical-align: top;
  text-align: right;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  padding-right: 1%;
  position: relative;
  line-height: 1;
  margin-bottom: 8px;
  -webkit-transition: all 0.25s;
  -moz-transition: all 0.25s;
  -o-transition: all 0.25s;
  -ms-transition: all 0.25s;
  transition: all 0.25s;
}
.gral-right:before {
  content: "\e903";
  font-family: 'icomoon';
  position: absolute;
  top: 1px;
  right: 7px;
  margin: auto;
  font-size: 16px;
  -webkit-transform: rotate(270deg);
  -moz-transform: rotate(270deg);
  -o-transform: rotate(270deg);
  -ms-transform: rotate(270deg);
  transform: rotate(270deg);
  color: #898989;
  -webkit-transition: all 0.25s;
  -moz-transition: all 0.25s;
  -o-transition: all 0.25s;
  -ms-transition: all 0.25s;
  transition: all 0.25s;
  z-index: 9;
}
.gral-right a {
  padding-right: 20px;
}
.gral-right:hover {
  -webkit-transform: translateX(-7px);
  -moz-transform: translateX(-7px);
  -o-transform: translateX(-7px);
  -ms-transform: translateX(-7px);
  transform: translateX(-7px);
}
.gral-right:hover:before {
  right: -5px;
}

.cf {
  zoom: 1;
}
.cf:after,
.cf:before {
  content: "";
  display: table;
}
.cf:after {
  clear: both;
}

.cf {
  zoom: 1;
}
.cf:after,
.cf:before {
  content: "";
  display: table;
}
.cf:after {
  clear: both;
}

.cf {
  zoom: 1;
}
.cf:after,
.cf:before {
  content: "";
  display: table;
}
.cf:after {
  clear: both;
}

.cf {
  zoom: 1;
}
.cf:after,
.cf:before {
  content: "";
  display: table;
}
.cf:after {
  clear: both;
}

.cf {
  zoom: 1;
}
.cf:after,
.cf:before {
  content: "";
  display: table;
}
.cf:after {
  clear: both;
}
.wrapp-iframe-general {
  width: 100%;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  padding: 6px;
  overflow: hidden;
  background-color: #9fab26;
  display: block;
  padding-top: 0px;
}
.wrapp-iframe-general:first-child {
  padding-top: 6px;
}
.name-dev {
  position: absolute;
  top: 2px;
  left: 0;
  font-family: 'Arial', sans-serif;
  color: #9fab26;
  border-bottom: 2px solid #9fab26;
  text-transform: uppercase;
  margin-left: 15px;
}
.btn-copy {
  background-color: #9fab26;
  display: inline-block;
  color: #fff;
  margin-bottom: 10px;
  padding: 5px;
  cursor: pointer;
}
.btn-copy.hover {
  background-color: #808080;
}
.inner-general {
  background: #fff;
  padding: 20px 0;
}
.general-wrapper {
  padding: 10px;
  border: 1px dashed #808080;
  width: 98%;
  margin: auto;
  margin-top: 30px;
}
.block-general {
  padding: 5px;
}

.cf {
  zoom: 1;
}
.cf:after,
.cf:before {
  content: "";
  display: table;
}
.cf:after {
  clear: both;
}
.header {
  position: fixed;
  width: 100%;
  top: 0;
  left: 0;
  text-align: left;
  z-index: 9;
  font-size: 0;
}
.header-logo {
  display: inline-block;
  vertical-align: middle;
  width: 50%;
  padding-top: 15px;
  padding-left: 15px;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  text-align: left;
}
.header-logo img {
  max-width: 100%;
  height: auto;
  display: block;
  width: 100px;
  margin-left: 0;
}
.header-right {
  display: inline-block;
  vertical-align: top;
  width: 50%;
  padding-right: 30px;
  padding-top: 25px;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
.header-right img {
  max-width: 100%;
  height: auto;
  display: block;
  width: 150px;
  margin-right: 0;
}
.footer {
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100%;
  z-index: 9;
  padding: 15px;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  font-size: 0;
}
.footer-left,
.footer-right {
  display: inline-block;
  vertical-align: middle;
  width: 50%;
  font-size: 15px;
  color: rgba(69,71,116,0.54);
  text-align: left;
}
.footer-left {
  text-align: left;
}
.footer-left .mail-link {
  font-family: 'Roboto Condensed', sans-serif;
  display: inline-block;
  vertical-align: middle;
  font-size: 16px;
  padding-right: 23px;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  position: relative;
  margin-right: 10px;
}
.footer-left .mail-link:before {
  content: "\e90a";
  font-family: 'icomoon';
  position: absolute;
  top: 0;
  bottom: 0;
  right: 0;
  font-size: 13px;
  color: rgba(69,71,116,0.54);
  margin: auto;
  height: 13px;
}
.footer-left span {
  display: inline-block;
  vertical-align: middle;
}
.footer-left span:before {
  color: rgba(69,71,116,0.54);
}
.footer-right {
  text-align: right;
}
.footer-right p {
  margin-bottom: 0;
  font-family: 'Roboto Condensed', sans-serif;
}
html,
body {
  position: relative;
  height: 100%;
}
body {
  background: #fff;
  font-family: Helvetica Neue, Helvetica, Arial, sans-serif;
  font-size: 14px;
  color: #000;
  margin: 0;
  padding: 0;
}
.swiper-container,
.swiper-container2 {
  width: 100%;
  height: 100%;
}
.swiper-container2 {
  display: none;
}
.swiper-slide {
  text-align: center;
  font-size: 18px;
  background: #fff;
/* Center slide text vertically */
  display: -webkit-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: -webkit-box;
  display: -moz-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: box;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  -webkit-justify-content: center;
  -webkit-box-pack: center;
  -moz-box-pack: center;
  -o-box-pack: center;
  -ms-flex-pack: center;
  -webkit-justify-content: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  -webkit-align-items: center;
  -webkit-box-align: center;
  -moz-box-align: center;
  -o-box-align: center;
  -ms-flex-align: center;
  -webkit-align-items: center;
  align-items: center;
}
.swiper-slide img {
  max-width: 100%;
  height: auto;
  display: block;
}
@media screen and (max-width: 1024px) {
  .header-logo {
    padding-top: 10px;
  }
  .header-logo img {
    width: 70px;
  }
}
@media screen and (max-width: 600px) {
  .footer-left,
  .footer-right {
    width: 100%;
    text-align: center;
  }
  .footer-left {
    margin-bottom: 5px;
  }
}

.cf {
  zoom: 1;
}
.cf:after,
.cf:before {
  content: "";
  display: table;
}
.cf:after {
  clear: both;
}

.cf {
  zoom: 1;
}
.cf:after,
.cf:before {
  content: "";
  display: table;
}
.cf:after {
  clear: both;
}

.cf {
  zoom: 1;
}
.cf:after,
.cf:before {
  content: "";
  display: table;
}
.cf:after {
  clear: both;
}

.cf {
  zoom: 1;
}
.cf:after,
.cf:before {
  content: "";
  display: table;
}
.cf:after {
  clear: both;
}

.cf {
  zoom: 1;
}
.cf:after,
.cf:before {
  content: "";
  display: table;
}
.cf:after {
  clear: both;
}

.cf {
  zoom: 1;
}
.cf:after,
.cf:before {
  content: "";
  display: table;
}
.cf:after {
  clear: both;
}

.cf {
  zoom: 1;
}
.cf:after,
.cf:before {
  content: "";
  display: table;
}
.cf:after {
  clear: both;
}

.cf {
  zoom: 1;
}
.cf:after,
.cf:before {
  content: "";
  display: table;
}
.cf:after {
  clear: both;
}

.cf {
  zoom: 1;
}
.cf:after,
.cf:before {
  content: "";
  display: table;
}
.cf:after {
  clear: both;
}

.cf {
  zoom: 1;
}
.cf:after,
.cf:before {
  content: "";
  display: table;
}
.cf:after {
  clear: both;
}

.cf {
  zoom: 1;
}
.cf:after,
.cf:before {
  content: "";
  display: table;
}
.cf:after {
  clear: both;
}
.b2-img img {
  max-width: 100%;
  height: auto;
  display: block;
}
.b2-info {
  position: fixed;
  z-index: 1;
  bottom: 0;
  left: 0;
  padding: 20px;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  width: 100%;
  background: #008000;
  opacity: 0;
  -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
  filter: alpha(opacity=0);
}

.cf {
  zoom: 1;
}
.cf:after,
.cf:before {
  content: "";
  display: table;
}
.cf:after {
  clear: both;
}

.cf {
  zoom: 1;
}
.cf:after,
.cf:before {
  content: "";
  display: table;
}
.cf:after {
  clear: both;
}

.cf {
  zoom: 1;
}
.cf:after,
.cf:before {
  content: "";
  display: table;
}
.cf:after {
  clear: both;
}

.cf {
  zoom: 1;
}
.cf:after,
.cf:before {
  content: "";
  display: table;
}
.cf:after {
  clear: both;
}

.cf {
  zoom: 1;
}
.cf:after,
.cf:before {
  content: "";
  display: table;
}
.cf:after {
  clear: both;
}

.cf {
  zoom: 1;
}
.cf:after,
.cf:before {
  content: "";
  display: table;
}
.cf:after {
  clear: both;
}

.cf {
  zoom: 1;
}
.cf:after,
.cf:before {
  content: "";
  display: table;
}
.cf:after {
  clear: both;
}

.cf {
  zoom: 1;
}
.cf:after,
.cf:before {
  content: "";
  display: table;
}
.cf:after {
  clear: both;
}

.cf {
  zoom: 1;
}
.cf:after,
.cf:before {
  content: "";
  display: table;
}
.cf:after {
  clear: both;
}

.cf {
  zoom: 1;
}
.cf:after,
.cf:before {
  content: "";
  display: table;
}
.cf:after {
  clear: both;
}

.cf {
  zoom: 1;
}
.cf:after,
.cf:before {
  content: "";
  display: table;
}
.cf:after {
  clear: both;
}
.b3 {
  text-align: center;
  font-size: 0;
  margin-top: 130px;
}
.b3-left,
.b3-right {
  display: table-cell;
  vertical-align: top;
  width: 48%;
  text-align: center;
}
.b3-left img,
.b3-right img {
  max-width: 100%;
  height: auto;
  display: block;
  width: 100%;
}
.b3-left {
  position: relative;
}
.b3-descripcion {
  padding-top: 20px;
}
.b3-descripcion,
.b3-botonera {
  font-size: 14px;
}
.b3-nombre-radio {
  margin-bottom: 0;
}
.b3-programa-radio {
  font-size: 13px;
  font-style: italic;
  color: #808080;
}
.b3-emisora {
  width: 25%;
  display: inline-block;
  vertical-align: top;
  position: relative;
}
.b3-emisora:before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: #f00;
  opacity: 0;
  -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
  filter: alpha(opacity=0);
  -webkit-transition: all 0.25s;
  -moz-transition: all 0.25s;
  -o-transition: all 0.25s;
  -ms-transition: all 0.25s;
  transition: all 0.25s;
}
.b3-emisora:after {
  content: "\e90c";
  font-family: 'icomoon';
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  margin: auto;
  font-size: 30px;
  width: 30px;
  height: 30px;
  color: #fff;
  opacity: 0;
  -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
  filter: alpha(opacity=0);
  -webkit-transition: all 0.25s;
  -moz-transition: all 0.25s;
  -o-transition: all 0.25s;
  -ms-transition: all 0.25s;
  transition: all 0.25s;
}
.b3-emisora:hover:before {
  opacity: 0.3;
  -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=30)";
  filter: alpha(opacity=30);
}
.b3-emisora:hover:after {
  opacity: 1;
  -ms-filter: none;
  filter: none;
}
.b3-box-volumen {
  position: absolute;
  bottom: 14px;
  right: 20px;
}
.b3-line-vertical {
  background: #000;
  position: absolute;
  height: 40px;
  width: 1px;
  right: 10px;
  bottom: 25px;
}
.b3-regulador-volumen {
  width: 10px;
  height: 1px;
  background: #000;
  position: absolute;
  top: -27px;
  right: 6px;
}
.b3-publicidad {
  margin-top: 5px;
}
.b3-publicidad img {
  width: 100%;
}
@media screen and (max-width: 768px) {
  .b3-left,
  .b3-right {
    display: block;
    width: 100%;
    margin-bottom: 10px;
  }
}

.cf {
  zoom: 1;
}
.cf:after,
.cf:before {
  content: "";
  display: table;
}
.cf:after {
  clear: both;
}

.cf {
  zoom: 1;
}
.cf:after,
.cf:before {
  content: "";
  display: table;
}
.cf:after {
  clear: both;
}

.cf {
  zoom: 1;
}
.cf:after,
.cf:before {
  content: "";
  display: table;
}
.cf:after {
  clear: both;
}

.cf {
  zoom: 1;
}
.cf:after,
.cf:before {
  content: "";
  display: table;
}
.cf:after {
  clear: both;
}

.cf {
  zoom: 1;
}
.cf:after,
.cf:before {
  content: "";
  display: table;
}
.cf:after {
  clear: both;
}

.cf {
  zoom: 1;
}
.cf:after,
.cf:before {
  content: "";
  display: table;
}
.cf:after {
  clear: both;
}

.cf {
  zoom: 1;
}
.cf:after,
.cf:before {
  content: "";
  display: table;
}
.cf:after {
  clear: both;
}

.cf {
  zoom: 1;
}
.cf:after,
.cf:before {
  content: "";
  display: table;
}
.cf:after {
  clear: both;
}

.cf {
  zoom: 1;
}
.cf:after,
.cf:before {
  content: "";
  display: table;
}
.cf:after {
  clear: both;
}

.cf {
  zoom: 1;
}
.cf:after,
.cf:before {
  content: "";
  display: table;
}
.cf:after {
  clear: both;
}

.cf {
  zoom: 1;
}
.cf:after,
.cf:before {
  content: "";
  display: table;
}
.cf:after {
  clear: both;
}
.b4 {
  text-align: center;
  font-size: 0;
}
.b4-left,
.b4-center,
.b4-right {
  display: inline-block;
  vertical-align: top;
}
.b4-left img,
.b4-center img,
.b4-right img {
  max-width: 100%;
  height: auto;
  display: block;
}
.b4-left {
  width: 23%;
  text-align: left;
}
.b4-item-button {
  font-size: 40px;
  color: #808080;
  text-align: center;
  display: block;
  border: 1px solid #cec7c7;
}
.b4-item-button.red {
  background: #f00;
  color: #fff;
}
.b4-item-button.black {
  background: #000;
  color: #fff;
}
.b4-title {
  background: #f00;
  color: #fff;
  padding: 10px 20px;
  font-size: 14px;
}
.b4-item {
  padding: 10px 5px;
  border-right: 1px solid #cec7c7;
}
.b4-item:last-child .b4-item-text {
  border: none;
}
.b4-item-figure {
  width: 20%;
  display: inline-block;
  vertical-align: top;
}
.b4-item-figure img {
  border-radius: 50%;
}
.b4-item-box {
  width: 80%;
  display: inline-block;
  vertical-align: top;
  font-size: 14px;
  padding-left: 4%;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
.b4-item-title {
  letter-spacing: 1px;
  position: relative;
}
.b4-item-title h4 {
  margin-bottom: 0;
}
.b4-item-title p {
  font-size: 13px;
  font-style: italic;
  color: #808080;
  margin-bottom: 5px;
}
.b4-item-title .b4-icon {
  position: absolute;
  top: 0;
  right: 0;
  font-size: 16px;
}
.b4-item-text {
  border-bottom: 1px solid #cec7c7;
}
.b4-item-text p {
  height: 58px;
  overflow: hidden;
  line-height: 1.2;
  font-size: 12px;
  text-align: justify;
  color: #8e8e8e;
}
.b4-center {
  width: 54%;
  text-align: left;
  padding: 0 2%;
  font-size: 14px;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
.b4-center textarea {
  width: 100%;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  padding: 10px;
}
.b4-center button {
  border: none;
  width: 100%;
  background: #000;
  color: #fff;
}
.b4-center-title {
  font-weight: bold;
  font-size: 17px;
  letter-spacing: 2px;
  margin: 15px 10px;
}
.b4-center .b4-center-actions,
.b4-center .b4-center-fecha,
.b4-center .b4-center-like,
.b4-center .b4-center-compartir,
.b4-center .b4-center-comentarios,
.b4-center .b4-icon,
.b4-center span {
  display: inline-block;
  vertical-align: middle;
}
.b4-center .b4-center-actions {
  width: 70%;
}
.b4-center .b4-center-fecha {
  width: 29%;
  text-align: right;
}
.b4-center .b4-center-like,
.b4-center .b4-center-compartir,
.b4-center .b4-center-comentarios {
  border-right: 1px solid #808080;
  margin-right: 5px;
  padding-right: 5px;
}
.b4-center .b4-center-comentarios {
  border-right: none;
}
.b4-center-item2 {
  border: 1px solid #000;
  margin-top: 10px;
}
.b4-center-pickerfecha {
  font-size: 0;
}
.b4-center-pickerfecha .b4-icon {
  display: inline-block;
  vertical-align: middle;
  padding: 10px;
  width: 10%;
  border-right: 1px solid #000;
  font-size: 15px;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  text-align: center;
}
.b4-center-pickerfecha .b4-center-right {
  display: inline-block;
  vertical-align: middle;
  width: 90%;
  text-align: right;
}
.b4-center-pickerfecha .recientesMas,
.b4-center-pickerfecha .recientesMenos,
.b4-center-pickerfecha .relevancia {
  display: inline-block;
  vertical-align: middle;
  font-size: 15px;
  padding: 0 10px;
  font-style: italic;
}
.b4-center-item3 {
  font-size: 0;
  margin-top: 25px;
  position: relative;
}
.b4-center-item3 .b4-item-figure {
  width: 50px;
  vertical-align: middle;
}
.b4-center-item3 .b4-item-box {
  vertical-align: middle;
  width: 88%;
}
.b4-center-item3 .b4-item-title h4 {
  font-size: 18px;
}
.b4-center-item3 .b4-item-title p {
  font-size: 16px;
}
.b4-center-item3 .b4-item-titlebox {
  display: inline-block;
  width: 40%;
  vertical-align: middle;
}
.b4-center-item3 .b4-center-actions {
  width: 50%;
  text-align: right;
}
.b4-center-item3 .b4-item-text {
  margin-top: 10px;
  padding-bottom: 30px;
}
.b4-center-item3 .b4-item-text p {
  height: auto;
  font-size: 17px;
  color: #000;
}
.b4-center-item3 .b4-item-text ul {
  font-size: 17px;
  padding-left: 15px;
}
.b4-center-item3 .b4-item-text li {
  list-style-type: decimal;
}
.b4-center-item3 .b4-icon {
  position: inherit;
}
.b4-center-item3 .b4-item-text-fecha {
  font-size: 14px;
  position: absolute;
  bottom: 20px;
  right: 0;
}
.b4-center-comentarios-fb {
  width: 100%;
}
.b4-center-comentarios-fb input,
.b4-center-comentarios-fb button {
  width: 100%;
  border: none;
  background: transparent;
}
.b4-center-comentarios-fb input {
  border: 1px solid #000;
  height: 70px;
  padding: 10px;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
.b4-center-comentarios-fb button {
  background: #000;
  color: #fff;
  font-size: 30px;
  margin-top: 5px;
}
.b4-right {
  width: 23%;
  text-align: left;
  font-size: 0;
}
.b4-right .b4-title {
  background: #000;
  color: #fff;
}
.b4-right .b4-item {
  margin: 3px 0;
  border-bottom: 1px solid #cec7c7;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
.b4-right .b4-item:last-child {
  border-bottom: none;
}
.b4-right .b4-item-figure {
  width: 28%;
  vertical-align: middle;
}
.b4-right .b4-item-figure img {
  border-radius: 0;
}
.b4-right .b4-item-box {
  width: 72%;
  padding-left: 2%;
  vertical-align: middle;
}
.b4-right .b4-item-title h4 {
  font-size: 14px;
  font-style: italic;
}
.b4-right .b4-item-title p {
  font-size: 10px;
  color: #000;
  font-style: normal;
  line-height: 1;
  margin-top: 8px;
  font-weight: bold;
}
.b4-publicidad {
  margin-top: 10px;
}
.b4-publicidad img {
  width: 100%;
}
@media screen and (max-width: 960px) {
  .b4-right {
    display: none;
  }
  .b4-left {
    width: 33%;
  }
  .b4-center {
    width: 67%;
  }
}
@media screen and (max-width: 650px) {
  .b4-left {
    display: none;
  }
  .b4-center {
    width: 100%;
  }
  .b4-center .b4-center-fecha {
    width: 40%;
  }
  .b4-center .b4-center-actions {
    width: 50%;
  }
}

.cf {
  zoom: 1;
}
.cf:after,
.cf:before {
  content: "";
  display: table;
}
.cf:after {
  clear: both;
}

.cf {
  zoom: 1;
}
.cf:after,
.cf:before {
  content: "";
  display: table;
}
.cf:after {
  clear: both;
}

.cf {
  zoom: 1;
}
.cf:after,
.cf:before {
  content: "";
  display: table;
}
.cf:after {
  clear: both;
}

.cf {
  zoom: 1;
}
.cf:after,
.cf:before {
  content: "";
  display: table;
}
.cf:after {
  clear: both;
}

.cf {
  zoom: 1;
}
.cf:after,
.cf:before {
  content: "";
  display: table;
}
.cf:after {
  clear: both;
}

.cf {
  zoom: 1;
}
.cf:after,
.cf:before {
  content: "";
  display: table;
}
.cf:after {
  clear: both;
}

.cf {
  zoom: 1;
}
.cf:after,
.cf:before {
  content: "";
  display: table;
}
.cf:after {
  clear: both;
}

.cf {
  zoom: 1;
}
.cf:after,
.cf:before {
  content: "";
  display: table;
}
.cf:after {
  clear: both;
}

.cf {
  zoom: 1;
}
.cf:after,
.cf:before {
  content: "";
  display: table;
}
.cf:after {
  clear: both;
}

.cf {
  zoom: 1;
}
.cf:after,
.cf:before {
  content: "";
  display: table;
}
.cf:after {
  clear: both;
}

.cf {
  zoom: 1;
}
.cf:after,
.cf:before {
  content: "";
  display: table;
}
.cf:after {
  clear: both;
}
.b5 {
  font-size: 0;
  margin-top: 130px;
}
.b5-left {
  width: 77%;
  display: inline-block;
  vertical-align: top;
  font-size: 14px;
  padding-right: 3%;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
.b5-left .b4-center-item2 {
  border: none;
}
.b5-left .b4-center-pickerfecha .b4-icon {
  border: none;
  width: 25%;
  font-weight: bold;
}
.b5-left .b4-item-title h4 {
  margin-bottom: 15px;
}
.b5-left .b4-center-pickerfecha .b4-center-right {
  width: 75%;
}
.b5-left .b4-center {
  width: 100%;
  margin-bottom: 10px;
}
.b5-left .b4-center .b4-icon {
  position: inherit;
}
.b5-left .b4-item-text {
  border: none;
}
.b5-left .b4-item-text p {
  height: auto;
  font-size: 17px;
  color: #000;
}
.b5-left .b4-item {
  padding: 0;
  margin-bottom: 5px;
  border-top: 1px solid #808080;
  border-right: none;
}
.b5-left-busqueda {
  font-size: 0px;
}
.b5-left-busqueda .b4-item img {
  border-radius: 0;
  max-width: 100%;
  height: auto;
  display: block;
}
.b5-left-busqueda .b4-item-figure,
.b5-left-busqueda .b4-item-box {
  vertical-align: middle;
}
.b5-left-busqueda .b4-item-figure {
  width: 30%;
  position: relative;
}
.b5-left-busqueda .b4-item-box {
  width: 70%;
  padding-left: 3%;
  padding-right: 1%;
  margin: 5px 0;
}
@media screen and (max-width: 960px) {
  .b5-left {
    width: 100%;
  }
}
@media screen and (max-width: 500px) {
  .b4-item-figure {
    display: none;
  }
  .b5-left-busqueda .b4-item-box {
    width: 100%;
  }
}

.cf {
  zoom: 1;
}
.cf:after,
.cf:before {
  content: "";
  display: table;
}
.cf:after {
  clear: both;
}

.cf {
  zoom: 1;
}
.cf:after,
.cf:before {
  content: "";
  display: table;
}
.cf:after {
  clear: both;
}
#element {
  -webkit-animation-duration: 1s;
  -moz-animation-duration: 1s;
  -o-animation-duration: 1s;
  -ms-animation-duration: 1s;
  animation-duration: 1s;
  -webkit-animation-delay: 1s;
  -moz-animation-delay: 1s;
  -o-animation-delay: 1s;
  -ms-animation-delay: 1s;
  animation-delay: 1s;
}
#element2 {
  -webkit-animation-duration: 0.9s;
  -moz-animation-duration: 0.9s;
  -o-animation-duration: 0.9s;
  -ms-animation-duration: 0.9s;
  animation-duration: 0.9s;
  -webkit-animation-delay: 0.5s;
  -moz-animation-delay: 0.5s;
  -o-animation-delay: 0.5s;
  -ms-animation-delay: 0.5s;
  animation-delay: 0.5s;
}
#element3 {
  -webkit-animation-duration: 0.9s;
  -moz-animation-duration: 0.9s;
  -o-animation-duration: 0.9s;
  -ms-animation-duration: 0.9s;
  animation-duration: 0.9s;
  -webkit-animation-delay: 0.7s;
  -moz-animation-delay: 0.7s;
  -o-animation-delay: 0.7s;
  -ms-animation-delay: 0.7s;
  animation-delay: 0.7s;
}
#element4 {
  -webkit-animation-duration: 0.9s;
  -moz-animation-duration: 0.9s;
  -o-animation-duration: 0.9s;
  -ms-animation-duration: 0.9s;
  animation-duration: 0.9s;
  -webkit-animation-delay: 0.9s;
  -moz-animation-delay: 0.9s;
  -o-animation-delay: 0.9s;
  -ms-animation-delay: 0.9s;
  animation-delay: 0.9s;
}
#element5 {
  -webkit-animation-duration: 0.9s;
  -moz-animation-duration: 0.9s;
  -o-animation-duration: 0.9s;
  -ms-animation-duration: 0.9s;
  animation-duration: 0.9s;
  -webkit-animation-delay: 1.1s;
  -moz-animation-delay: 1.1s;
  -o-animation-delay: 1.1s;
  -ms-animation-delay: 1.1s;
  animation-delay: 1.1s;
}
#element6 {
  -webkit-animation-duration: 0.9s;
  -moz-animation-duration: 0.9s;
  -o-animation-duration: 0.9s;
  -ms-animation-duration: 0.9s;
  animation-duration: 0.9s;
  -webkit-animation-delay: 1.5s;
  -moz-animation-delay: 1.5s;
  -o-animation-delay: 1.5s;
  -ms-animation-delay: 1.5s;
  animation-delay: 1.5s;
  animation-time: infinite;
}
.b6 {
  font-size: 0;
  text-align: center;
  padding-bottom: 80px;
  padding-top: 10px;
}
.b6-programa {
  display: inline-block;
  vertical-align: top;
  width: 15.8%;
  margin: 0 0.4%;
  position: relative;
  -webkit-transition: 1s;
  -moz-transition: 1s;
  -o-transition: 1s;
  -ms-transition: 1s;
  transition: 1s;
}
.b6-programa img {
  max-width: 100%;
  height: auto;
  display: block;
}
.b6-programa:hover .b6-programa-hover {
  display: block;
}
.b6-programa:hover .b6-programa-hover2 {
  opacity: 1;
  -ms-filter: none;
  filter: none;
}
.b6-programa:last-child .b6-programa-hover {
  right: inherit;
  left: -165px;
}
.b6-programa:last-child .b6-programa-hover:before {
  right: -362px;
  left: inherit;
  border-color: transparent transparent transparent #fff;
  border-width: 10px 0 10px 12px;
}
.b6-programa-hover {
  position: absolute;
  top: -12px;
  bottom: -12px;
  margin: auto;
  right: -165px;
  color: #424242;
  font-size: 12px;
  text-align: left;
  background: #fff;
  padding: 15px;
  z-index: 1;
  width: 155px;
  border-radius: 6px;
  -webkit-box-shadow: 1px 2px 10px -3px rgba(0,0,0,0.64);
  box-shadow: 1px 2px 10px -3px rgba(0,0,0,0.64);
  height: 211px;
  display: none;
  opacity: 0.8;
  -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=80)";
  filter: alpha(opacity=80);
  -webkit-transition: all 0.25s;
  -moz-transition: all 0.25s;
  -o-transition: all 0.25s;
  -ms-transition: all 0.25s;
  transition: all 0.25s;
}
.b6-programa-hover:before {
  content: "";
  position: absolute;
  bottom: 50px;
  left: -12px;
  margin: auto;
  width: 0;
  height: 0;
  border-style: solid;
  border-width: 10px 12px 10px 0;
  border-color: transparent #fff transparent transparent;
}
.b6-programa-title {
  font-family: 'open_sansbold', sans-serif;
}
.b6-programa-descripcion {
  line-height: 1.2;
}
.b6-programa-info {
  font-size: 14px;
  text-align: right;
  display: block;
  font-family: 'open_sansbold', sans-serif;
  margin-top: 10px;
}
@media screen and (max-width: 1024px) {
  .b6-programa:hover .b6-programa-hover {
    opacity: 0;
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
    filter: alpha(opacity=0);
  }
}
@media screen and (max-width: 768px) {
  .b6-programa {
    width: 32%;
    margin-bottom: 0.8%;
  }
  .b6-programa:nth-child(3) {
    margin-right: 0;
  }
  .b6-programa:nth-child(4) {
    margin-left: 0;
  }
}
@media screen and (max-width: 480px) {
  .b6-programa {
    width: 49%;
    margin-bottom: 0.8%;
  }
  .b6-programa:nth-child(3) {
    margin-right: 0.4%;
  }
  .b6-programa:nth-child(4) {
    margin-left: 0.4%;
  }
  .b6-programa:first-child {
    margin-left: 0;
  }
  .b6-programa:last-child {
    margin-right: 0;
  }
}
/* CHICOS-IPE */
.chicos-ipe .b6-programa {
  margin-bottom: 10px;
}

.cf {
  zoom: 1;
}
.cf:after,
.cf:before {
  content: "";
  display: table;
}
.cf:after {
  clear: both;
}
.b7 {
  text-align: center;
  font-size: 0;
}
.b7-figure {
  display: inline-block;
  vertical-align: top;
  width: 49%;
  margin: 0 0.5%;
}
.b7-figure img {
  max-width: 100%;
  height: auto;
  display: block;
}
.b7-figure5 {
  margin: 0 0.5%;
  margin-top: 2%;
}
.b7-figure5 img {
  max-width: 100%;
  height: auto;
  display: block;
  max-width: 100%;
}
@media screen and (max-width: 600px) {
  .b7-figure {
    display: block;
  }
}

.cf {
  zoom: 1;
}
.cf:after,
.cf:before {
  content: "";
  display: table;
}
.cf:after {
  clear: both;
}
.b8 {
  background: #fff;
  padding: 5px;
}
.b8-logo {
  display: inline-block;
  vertical-align: middle;
}

.cf {
  zoom: 1;
}
.cf:after,
.cf:before {
  content: "";
  display: table;
}
.cf:after {
  clear: both;
}

.cf {
  zoom: 1;
}
.cf:after,
.cf:before {
  content: "";
  display: table;
}
.cf:after {
  clear: both;
}

.cf {
  zoom: 1;
}
.cf:after,
.cf:before {
  content: "";
  display: table;
}
.cf:after {
  clear: both;
}
