.b2-img
	img
		img-res()

// .b2-table
// 	display table-cell
// 	vertical-align middle
// 	height 100vh
// 	width 2000px
	
.b2-info
	position fixed
	z-index 1
	bottom 0
	left 0
	padding 20px
	box-sizing border-box
	width 100%
	background green
	opacity 0
	
	