.b3
	text-align center
	font-size 0
	margin-top 130px
	// *
	// 	outline 1px solid red

.b3-left,	
.b3-right
	display table-cell
	vertical-align top
	width 48%
	text-align center
	img
		img-res()
		width 100%
		
.b3-left
	position relative

.b3-descripcion
	padding-top 20px

.b3-descripcion,
.b3-botonera
	font-size 14px
	
.b3-nombre-radio
	margin-bottom 0

.b3-programa-radio
	font-size: 13px;
	font-style: italic;
	color: gray;

.b3-emisora
	width 25%
	display inline-block
	vertical-align top
	position relative
	&:before
		content ""
		position absolute
		top 0
		left 0
		width 100%
		height 100%
		background red
		opacity 0
		transition-all()
	&:after
		content "\e90c"
		font-family icomoon
		position absolute
		top 0
		left 0
		right 0
		bottom 0
		margin auto
		font-size 30px
		width 30px
		height 30px
		color white
		opacity 0
		transition-all()
	&:hover
		&:before
			opacity .3
		&:after
			opacity 1

.b3-box-volumen
	position absolute
	bottom 14px
	right 20px
	
.b3-line-vertical
	background: black;
	position: absolute;
	height: 40px;
	width: 1px;
	right: 10px;
	bottom: 25px;
	
.b3-regulador-volumen
	width: 10px;
	height: 1px;
	background: black;
	position: absolute;
	top: -27px;
	right: 6px;
	
.b3-publicidad
	margin-top 5px
	img
		width 100%

@media screen and (max-width 768px)
	.b3-left,
	.b3-right
		display block
		width 100%
		margin-bottom 10px