.b4
	text-align center
	font-size 0

.b4-left,
.b4-center,
.b4-right
	display inline-block
	vertical-align top
	img
		img-res()

.b4-left
	width 23%
	text-align left

.b4-item-button
	font-size 40px
	color gray
	text-align center
	display block
	border 1px solid #cec7c7
	&.red
		background red
		color white
	&.black
		background black
		color white

.b4-title
	background red
	color white
	padding 10px 20px
	font-size 14px
	
.b4-item
	padding 10px 5px
	border-right 1px solid #cec7c7
	&:last-child
		.b4-item-text
			border none
	
.b4-item-figure
	width 20%
	display inline-block
	vertical-align top
	img
		border-radius 50%
	
.b4-item-box
	width 80%
	display inline-block
	vertical-align top
	font-size 14px
	padding-left 4%
	box-sizing border-box
	
.b4-item-title
	letter-spacing 1px
	position relative
	h4
		margin-bottom 0
	p
		font-size 13px
		font-style italic
		color gray
		margin-bottom 5px
	.b4-icon
		position absolute
		top 0
		right 0
		font-size 16px

.b4-item-text
	border-bottom 1px solid #cec7c7
	p
		height 58px
		overflow hidden
		line-height 1.2
		font-size 12px
		text-align justify
		color #8e8e8e
	
.b4-center
	width 54%
	text-align left
	padding 0 2%
	font-size 14px
	box-sizing border-box
	textarea
		width 100%
		box-sizing border-box
		padding 10px
	button
		border none
		width 100%
		background black
		color white

.b4-center-title
	font-weight: bold;
	font-size: 17px;
	letter-spacing: 2px;
	margin: 15px 10px;

.b4-center
	.b4-center-actions,
	.b4-center-fecha
	.b4-center-like,
	.b4-center-compartir,
	.b4-center-comentarios,
	.b4-icon,
	span
		display inline-block
		vertical-align middle

.b4-center
	.b4-center-actions
		width 70%
	.b4-center-fecha
		width 29%
		text-align right

.b4-center	
	.b4-center-like,
	.b4-center-compartir,
	.b4-center-comentarios
		border-right 1px solid gray
		margin-right 5px
		padding-right 5px
	
	.b4-center-comentarios
		border-right none
	
.b4-center-item2
	border 1px solid black
	margin-top 10px

.b4-center-pickerfecha
	font-size 0
	.b4-icon
		display inline-block
		vertical-align middle
		padding 10px
		width 10%
		border-right 1px solid black
		font-size 15px
		box-sizing border-box
		text-align center
	.b4-center-right
		display inline-block
		vertical-align middle
		width 90%
		text-align right
	.recientesMas,
	.recientesMenos,
	.relevancia
		display inline-block
		vertical-align middle
		font-size 15px
		padding 0 10px
		font-style italic
		
.b4-center-item3
	font-size 0
	margin-top 25px
	position relative
	.b4-item-figure
		width 50px
		vertical-align middle
	.b4-item-box
		vertical-align middle
		width 88%
	.b4-item-title
		h4
			font-size 18px
		p
			font-size 16px
	.b4-item-titlebox
		display inline-block
		width 40%
		vertical-align middle
	.b4-center-actions
		width 50%
		text-align right

	.b4-item-text
		margin-top 10px
		padding-bottom 30px
		p
			height auto
			font-size 17px
			color black
		ul
			font-size 17px
			padding-left 15px
		li
			list-style-type decimal
			
	.b4-icon
		position inherit
		
	.b4-item-text-fecha
		font-size 14px
		position absolute
		bottom 20px
		right 0
		
.b4-center-comentarios-fb
	width 100%
	input,
	button
		width 100%
		border none
		background transparent
	input
		border 1px solid black
		height 70px
		padding 10px
		box-sizing border-box
	button
		background black
		color white
		font-size 30px
		margin-top 5px

.b4-right
	width 23%
	text-align left
	font-size 0
	.b4-title
		background black
		color white
	.b4-item
		margin 3px 0
		border-bottom 1px solid #cec7c7
		box-sizing border-box
		&:last-child
			border-bottom none
	.b4-item-figure
		width 28%
		vertical-align middle
		img
			border-radius 0
	.b4-item-box
		width 72%
		padding-left 2%
		vertical-align middle
	.b4-item-title
		h4
			font-size 14px
			font-style italic
		p
			font-size 10px
			color black
			font-style normal
			line-height 1
			margin-top 8px
			font-weight bold
			
.b4-publicidad
	margin-top 10px
	img
		width 100%
	
@media screen and (max-width 960px)
	.b4-right
		display none
	.b4-left
		width 33%
	.b4-center
		width 67%
	
@media screen and (max-width 650px)
	.b4-left
		display none
	.b4-center
		width 100%
		
	.b4-center .b4-center-fecha
		width 40%
		
	.b4-center .b4-center-actions
		width 50%