#element 
	animation-duration 1s
	animation-delay 1s
	
#element2
	animation-duration .9s
	animation-delay .5s
	
#element3
	animation-duration .9s
	animation-delay .7s
	
#element4
	animation-duration .9s
	animation-delay .9s
	
#element5
	animation-duration .9s
	animation-delay 1.1s

#element6
	animation-duration .9s
	animation-delay 1.5s
	animation-time infinite
.b6
	font-size 0
	text-align center
	padding-bottom 80px
	padding-top 10px

.b6-programa
	display inline-block
	vertical-align top
	width 15.8%
	margin 0 0.4%
	position relative
	transition 1s
	img
		img-res()
	&:hover
		.b6-programa-hover
			display block
		.b6-programa-hover2
			opacity 1
	&:last-child
		.b6-programa-hover
			right inherit
			left -165px
			&:before
				right -362px
				left inherit
				border-color transparent transparent transparent white
				border-width 10px 0 10px 12px
		
.b6-programa-hover
	position absolute
	top -12px
	bottom -12px
	margin auto
	right -165px
	color #424242
	font-size 12px
	text-align left
	background white
	padding 15px
	z-index 1
	width 155px
	border-radius 6px
	box-shadow 1px 2px 10px -3px rgba(0,0,0,.64)
	height 211px
	display none
	opacity .8
	transition-all()
	&:before
		content ""
		position absolute
		bottom 50px
		left -12px
		margin auto
		width 0
		height 0
		border-style solid
		border-width 10px 12px 10px 0
		border-color transparent white transparent transparent
		
.b6-programa-title
	font-family t-1
	
.b6-programa-descripcion
	line-height 1.2
	
.b6-programa-info
	font-size 14px
	text-align right
	display block
	font-family t-1
	margin-top 10px
		
@media screen and (max-width: 1024px)
	.b6-programa
		&:hover
			.b6-programa-hover
				opacity 0
		
@media screen and (max-width: 768px)
	.b6-programa
		width 32%
		margin-bottom .8%
		&:nth-child(3)
			margin-right 0
		&:nth-child(4)
			margin-left 0
		
@media screen and (max-width: 480px)
	.b6-programa
		width 49%
		margin-bottom .8%
		&:nth-child(3)
			margin-right 0.4%
		&:nth-child(4)
			margin-left 0.4%
		&:first-child
			margin-left 0
		&:last-child
			margin-right 0
			
/* CHICOS-IPE */
.chicos-ipe
	.b6-programa
		margin-bottom 10px