.b7
	text-align center
	font-size 0

.b7-figure
	display inline-block
	vertical-align top
	width 49%
	margin 0 .5%
	img
		img-res()

.b7-figure5
	margin 0 .5%
	margin-top 2%
	img
		img-res()
		max-width 100%		
		
@media screen and (max-width 600px)
	.b7-figure
		display block