/* Reset
-------------------------------------------------- */
*, *:before, *:after {
  margin: 0;
  padding: 0;
  border: 0;
  list-style-type: none;
  -webkit-box-sizing: border-box;
     -moz-box-sizing: border-box;
          box-sizing: border-box;
          -webkit-tap-highlight-color: transparent;
}
article, aside, details, figcaption, figure,
footer, header, hgroup, main, nav, section, summary {
  display: block;
}

::selection{
	background:hsl(0,0%,70%);
}

#image.black{
	/*background:black;*/
}

@font-face {
  font-family: 'ArialMT';
  src: url('../fonts/ArialMT.eot?#iefix') format('embedded-opentype'),  
       url('../fonts/ArialMT.otf')  format('opentype'),
       url('../fonts/ArialMT.woff') format('woff'), 
       url('../fonts/ArialMT.ttf')  format('truetype'), 
       url('../fonts/ArialMT.svg#ArialMT') format('svg');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "MinionPro-regular";
  src: url('../webfonts/MinionPro-regular.eot?#iefix') format('embedded-opentype'),  
       url('../web/fonts/MinionPro-regular.otf')  format('opentype'),
       url('../web/fonts/MinionPro-regular.woff') format('woff'), 
       url('../web/fonts/MinionPro-regular.ttf')  format('truetype'), 
       url('../web/fonts/MinionPro-regular.svg#MinionPro-regular') format('svg');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "Simplifica";
  src: url('../web/fonts/Simplifica.eot?#iefix') format('embedded-opentype'),  
       /*url('../web/fonts/Simplifica.otf')  format('opentype'),*/
	     url('../web/fonts/Simplifica.woff') format('woff'), 
       url('../web/fonts/Simplifica.ttf')  format('truetype'), 
       url('../web/fonts/Simplifica.svg#Simplifica') format('svg');
  font-weight: normal;
  font-style: normal;
}

::-webkit-input-placeholder { /* Chrome/Opera/Safari */
  color: hsl(0,0%,70%);
}
::-moz-placeholder { /* Firefox 19+ */
  color: hsl(0,0%,70%);
}
:-ms-input-placeholder { /* IE 10+ */
  color: hsl(0,0%,70%);
}
:-moz-placeholder { /* Firefox 18- */
  color: hsl(0,0%,70%);
}

/*::-webkit-scrollbar {
    width: 7px;
}
 
::-webkit-scrollbar-track {
    border-radius: 0px;
}
 
::-webkit-scrollbar-thumb {
    border-radius: 0px;
    background:hsl(0,0%,80%); 
}
*/
::selection{
	background:transparent;
}
#info li::selection,#info a::selection{
	background:#eee;
	}



/* img
-------------------------------------------------- */
img {
  display: block;
}

#image{
  position: relative;
  float:left;
  height:100%;
  min-height:480px;
  width:100%;
  background:white;
  z-index:9;
  -webkit-transform: translate3d(0,0,0);
  cursor:pointer;
  /*padding-bottom:25px;*/
}

#image img{
	display:block;
	margin:0 auto;
  -webkit-transition:1s cubic-bezier(0.645, 0.045, 0.355, 1);
  transition:1s cubic-bezier(0.645, 0.045, 0.355, 1);
   opacity: 0;
   height:100%;
}


#image.a img{
  opacity: 1;
}


/* Links
-------------------------------------------------- */
a{
	color:black;
	text-decoration: none;
  color: #3a3c6d;
}

a.green {
  color: #82bb6d;
  text-decoration: none;
  transition: color .3s, background .3s, border .3s;
  font-size:12px;
}



a.green:hover {
  /*color: red;*/
/*   text-decoration: underline; */
  border-bottom:1px solid;
}

p{
	margin-bottom:18px;
  font-size: 30px;
  line-height: 1.2;
  color: #3a3c6d;
}


/* Clearfix
-------------------------------------------------- */
.cf:after {
  content: "";
  display: table;
  clear: both;
}


/* Site
-------------------------------------------------- */
html {
  height: 100%;
  font-family: "Simplifica";;
  font-size:10px;
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
  overflow-y:scroll;
}
body {
  position: relative;
  height:100%;
  margin: 0 auto;
  font-size:12px;
  line-height: 1.5em;
  /*padding: 1.5em;*/
  /*max-width: 50em;*/
  background: #fff;;
}




/* Header
-------------------------------------------------- */
.header {
  position: fixed;
  width:100%;
  z-index:10;
}
.logo {
  position: fixed;
  left:50%;
  -webkit-transform:translateX(-50%);
          transform:translateX(-50%);
  display: block;
  margin-top:50px;
}

.logo img {
  width: 200px;
  font-size: 20px;
}


/* Navigation
-------------------------------------------------- */

#menu{
  position: absolute;
  top:0;right:0;
  margin:50px;
  margin-top:52px;
  letter-spacing: 0.03em;
  list-style-type: none;
  font-size:13px;
  text-transform: uppercase;
  cursor:pointer;
  opacity:0;
  -webkit-transition:300ms;
  transition:300ms;
}

#menu.a{
	opacity:1;
}

.menu a {
  display: block;
  color: #222;
}
.menu a:hover {
  color: red;
  text-decoration: none;
}
.menu .active {
  color: red;
}
.menu li {
  list-style: none;
}
.menu > li {
  position: relative;
}
.menu > li > a {
  padding: .35em 0;
  border-top: 1px solid #ddd;
  font-weight: 600;
}

.submenu {
  position: absolute;
  z-index: 1;
  display: none;
  left: 1em;
}
.submenu:before {
  position: absolute;
  z-index: -1;
  content: '';
  top: -.5em;
  left: 0;
  border-top: .5em solid transparent;
  border-bottom: .5em solid transparent;
  border-left: .5em solid #222;
}
.submenu li {
  border-bottom: 1px solid #444;
}
.submenu a {
  padding: .5em 1.5em;
  font-size: .9em;
  font-weight: 300;
  color: #fff;
  background: #222;
  white-space: nowrap;
}
.submenu a:hover {
  background: #333;
  color: #fff;
}

@media screen and (min-width: 40em) {
  body {
    /* padding: 3em; */
  }
  .logo {
    float: left;
  }
  .menu {
    float: right;
  }
  .menu > li {
    float: left;
  }
  .menu > li > a {
    padding: .35em 1em;
    border: 0;
  }
  .menu > li:hover .submenu {
    display: block;
  }
}


/*#info{
  position: fixed;
  z-index:1;
  height:60vh;
  bottom:0;left:0;
  padding:20vh 5%;
  width:100%;
  opacity:0;
}

#info.a{
	opacity:1;
}

#info ul{
  position: relative;
  float:left;
  width:30%;
  min-width:300px;
  margin-
}

#info ul li{
  position: relative;
  float:left;
  left:50%;
  max-width:300px;
}*/


#info{
  position: fixed;
  z-index:1;
  height:50vh;
  bottom:0;left:0;
  padding:20px;
  opacity:0;
  width:100%;
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  justify-content: center;
}

#info.a{
  opacity:1;
}

#info ul{
  position: relative;
  float:left;
  width:20%;
  margin:0 6.6665%;
  min-width:300px;
}

#info ul li{
  position: relative;
  float:left;
  width:100%;
}



/* Headings
-------------------------------------------------- */
h1 {
  font-size: 2em;
  line-height: 1.25em;
  font-weight: 400;
  margin-bottom: .5em;
}
h2 {
  font-size: 2em;
  line-height: 1.25em;
  font-weight: 300;
  margin-bottom: .5em;
  color: red;
}
h3 {
	font-weight:100;
	position: absolute;
	bottom:0;right:0;
	margin:20px;
	font-size:8px;
	color:hsl(0,0%,70%);
	text-transform: uppercase;	padding-top:4px;
	opacity: 0;
	-webkit-transition:500ms;
	transition:500ms;
	letter-spacing: 0.5px;
}

h3.a{
	opacity:1;
}
h4 {
  font-size: 1.125em;
  font-weight: 600;
  line-height: 1.5em;
  margin-bottom: .5em;
  color: red;
}
h1 a, h2 a, h3 a, h4 a {
  color: inherit;
  border: 0 !important;
}



/* Main
-------------------------------------------------- */
.main {
  padding-bottom: 1.5em;
  border-bottom: 2px solid red;
}
.main hr {
  margin: 3em 0;
  height: 2px;
  background: #ddd;
}
.main p,
.main figure,
.main ul,
.main ol {
  margin-bottom: 1.5em;
}
.main a {
  border-bottom: 2px solid #ddd;
}
.main a:hover {
  border-color: #222;
}

/* Text blocks */
.text ul,
.text ol {
  margin-left: 1em;
}

/* Project meta
-------------------------------------------------- */
.meta {
  margin-bottom: 1.5em;
}
.meta li {
  float: left;
  list-style: none;
  margin-right: 2em;
  color: red;
}
.meta li b {
  font-weight: 400;
  color: #000;
  padding-right: .25em;
}


/* Project teaser
-------------------------------------------------- */
.teaser {
  list-style: none;
}
.teaser li {
  margin-bottom: 1.5em;
  list-style: none;
}
@media screen and (min-width: 50em) {
  .teaser li {
    float: left;
    width: 30%;
    margin-left: 5%;
  }
  .teaser li:first-child {
    margin-left: 0;
  }
}


/* Next/Prev nav
-------------------------------------------------- */
.nextprev {
  padding: 1em 0;
}
.nextprev a {
  border: 0;
}
.nextprev .prev {
  float: left;
}
.nextprev .next {
  float: right;
}


/* Footer
-------------------------------------------------- */
.footer {
  padding: 1em 0 6em;
  font-size: .8em;
}
.copyright {
  float: left;
}
.colophon {
  float: right;
}
.colophon a b {
  color: red;
  padding-left: .25em;
}


/* Mobile
-------------------------------------------------- */


@media only screen 
  and (max-device-width: 600px){

html,
body {
  height: 100%;
  width: 100%;
  overflow: auto;
}
  /*.logo img {
    width: 150px;
  }*/

  #menu{
    margin-right:25px;
    /*margin-top:50px;*/
  }

  #image{
    margin-bottom:100vh;
  }
  
  
  p{
	  margin-bottom:7px;
    font-size: 60px;
    line-height: 1.5;
  }

  a.green{
    font-size: 60px;
  }


  #info {
    height:105vh;
    /*text-align: center;*/
  }
  

  h3{
    margin:10px;
  }

}



@media only screen and (max-width: 600px){
    
  #image.black{
    background-color:black!important;
  }

  #info ul li{
    left:0;
  }

  .logo img {
    width: 250px;
  }
}


form{
  position: relative;
  float:left;
  width:100%;
  margin-top:10px;
}

form p{
  position: relative;
  float:left;
  width:100%;
  margin:0;

}

form input{
  position: relative;
  float:left;
  width:100%;
  min-width:300px;
  border-bottom:1px solid black;
  clear:both;
  margin-bottom:4px;
  border-radius: 0;
  font-family: 'Simplifica';
   height:18px;
   padding-bottom:4px;
   font-size:11px;
    color:hsl(0,0%,70%);
    text-transform: uppercase;
}

form input.error{
	border-bottom:1px solid red;
}

input.black,
a.black{
  color:black;
}

a.black{
  pointer-events: none;
}

form input:focus{
  outline:0;
}

form input.send{
  border:0;
  border:1px solid white;
  background:none;
  text-align:left;
  color: #82bb6d;
  cursor: pointer;
  width:auto;
  margin-left:-1px;
  min-width:0;
}

form input.send:hover{
  border-bottom:1px solid!important;
}


@media screen and (max-width:1185px) {

  #info{
    display: block;
    padding:20vh 5%;
  }

  #info ul{
    margin:0;
    width: 100%;
    margin-bottom:74px;
  }

  form input{
    width: 95%;
  min-width: 280px;
  }


  
}

#ghost{
	height: 0;
    width: 0;
    opacity: 0;
    overflow: hidden;
    line-height: 0;
    padding: 0;
    margin: 0;
}