.cf {
  zoom: 1;
}
.cf:after,
.cf:before {
  content: "";
  display: table;
}
.cf:after {
  clear: both;
}
.header {
  position: fixed;
  width: 100%;
  top: 0;
  left: 0;
  text-align: left;
  z-index: 9;
  font-size: 0;
}
.header-logo {
  display: inline-block;
  vertical-align: middle;
  width: 50%;
  padding-top: 15px;
  padding-left: 15px;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  text-align: left;
}
.header-logo img {
  max-width: 100%;
  height: auto;
  display: block;
  width: 100px;
  margin-left: 0;
}
.header-right {
  display: inline-block;
  vertical-align: top;
  width: 50%;
  padding-right: 30px;
  padding-top: 25px;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
.header-right img {
  max-width: 100%;
  height: auto;
  display: block;
  width: 150px;
  margin-right: 0;
}
.footer {
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100%;
  z-index: 9;
  padding: 15px;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  font-size: 0;
}
.footer-left,
.footer-right {
  display: inline-block;
  vertical-align: middle;
  width: 50%;
  font-size: 15px;
  color: rgba(69,71,116,0.54);
  text-align: left;
}
.footer-left {
  text-align: left;
}
.footer-left .mail-link {
  font-family: 'Roboto Condensed', sans-serif;
  display: inline-block;
  vertical-align: middle;
  font-size: 16px;
  padding-right: 23px;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  position: relative;
  margin-right: 10px;
}
.footer-left .mail-link:before {
  content: "\e90a";
  font-family: 'icomoon';
  position: absolute;
  top: 0;
  bottom: 0;
  right: 0;
  font-size: 13px;
  color: rgba(69,71,116,0.54);
  margin: auto;
  height: 13px;
}
.footer-left span {
  display: inline-block;
  vertical-align: middle;
}
.footer-left span:before {
  color: rgba(69,71,116,0.54);
}
.footer-right {
  text-align: right;
}
.footer-right p {
  margin-bottom: 0;
  font-family: 'Roboto Condensed', sans-serif;
}
html,
body {
  position: relative;
  height: 100%;
}
body {
  background: #fff;
  font-family: Helvetica Neue, Helvetica, Arial, sans-serif;
  font-size: 14px;
  color: #000;
  margin: 0;
  padding: 0;
}
.swiper-container,
.swiper-container2 {
  width: 100%;
  height: 100%;
}
.swiper-container2 {
  display: none;
}
.swiper-slide {
  text-align: center;
  font-size: 18px;
  background: #fff;
/* Center slide text vertically */
  display: -webkit-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: -webkit-box;
  display: -moz-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: box;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  -webkit-justify-content: center;
  -webkit-box-pack: center;
  -moz-box-pack: center;
  -o-box-pack: center;
  -ms-flex-pack: center;
  -webkit-justify-content: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  -webkit-align-items: center;
  -webkit-box-align: center;
  -moz-box-align: center;
  -o-box-align: center;
  -ms-flex-align: center;
  -webkit-align-items: center;
  align-items: center;
}
.swiper-slide img {
  max-width: 100%;
  height: auto;
  display: block;
}
@media screen and (max-width: 1024px) {
  .header-logo {
    padding-top: 10px;
  }
  .header-logo img {
    width: 70px;
  }
}
@media screen and (max-width: 600px) {
  .footer-left,
  .footer-right {
    width: 100%;
    text-align: center;
  }
  .footer-left {
    margin-bottom: 5px;
  }
}
