.cf {
  zoom: 1;
}
.cf:after,
.cf:before {
  content: "";
  display: table;
}
.cf:after {
  clear: both;
}
.b3 {
  text-align: center;
  font-size: 0;
  margin-top: 130px;
}
.b3-left,
.b3-right {
  display: table-cell;
  vertical-align: top;
  width: 48%;
  text-align: center;
}
.b3-left img,
.b3-right img {
  max-width: 100%;
  height: auto;
  display: block;
  width: 100%;
}
.b3-left {
  position: relative;
}
.b3-descripcion {
  padding-top: 20px;
}
.b3-descripcion,
.b3-botonera {
  font-size: 14px;
}
.b3-nombre-radio {
  margin-bottom: 0;
}
.b3-programa-radio {
  font-size: 13px;
  font-style: italic;
  color: #808080;
}
.b3-emisora {
  width: 25%;
  display: inline-block;
  vertical-align: top;
  position: relative;
}
.b3-emisora:before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: #f00;
  opacity: 0;
  -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
  filter: alpha(opacity=0);
  -webkit-transition: all 0.25s;
  -moz-transition: all 0.25s;
  -o-transition: all 0.25s;
  -ms-transition: all 0.25s;
  transition: all 0.25s;
}
.b3-emisora:after {
  content: "\e90c";
  font-family: 'icomoon';
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  margin: auto;
  font-size: 30px;
  width: 30px;
  height: 30px;
  color: #fff;
  opacity: 0;
  -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
  filter: alpha(opacity=0);
  -webkit-transition: all 0.25s;
  -moz-transition: all 0.25s;
  -o-transition: all 0.25s;
  -ms-transition: all 0.25s;
  transition: all 0.25s;
}
.b3-emisora:hover:before {
  opacity: 0.3;
  -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=30)";
  filter: alpha(opacity=30);
}
.b3-emisora:hover:after {
  opacity: 1;
  -ms-filter: none;
  filter: none;
}
.b3-box-volumen {
  position: absolute;
  bottom: 14px;
  right: 20px;
}
.b3-line-vertical {
  background: #000;
  position: absolute;
  height: 40px;
  width: 1px;
  right: 10px;
  bottom: 25px;
}
.b3-regulador-volumen {
  width: 10px;
  height: 1px;
  background: #000;
  position: absolute;
  top: -27px;
  right: 6px;
}
.b3-publicidad {
  margin-top: 5px;
}
.b3-publicidad img {
  width: 100%;
}
@media screen and (max-width: 768px) {
  .b3-left,
  .b3-right {
    display: block;
    width: 100%;
    margin-bottom: 10px;
  }
}
