.cf {
  zoom: 1;
}
.cf:after,
.cf:before {
  content: "";
  display: table;
}
.cf:after {
  clear: both;
}
.b4 {
  text-align: center;
  font-size: 0;
}
.b4-left,
.b4-center,
.b4-right {
  display: inline-block;
  vertical-align: top;
}
.b4-left img,
.b4-center img,
.b4-right img {
  max-width: 100%;
  height: auto;
  display: block;
}
.b4-left {
  width: 23%;
  text-align: left;
}
.b4-item-button {
  font-size: 40px;
  color: #808080;
  text-align: center;
  display: block;
  border: 1px solid #cec7c7;
}
.b4-item-button.red {
  background: #f00;
  color: #fff;
}
.b4-item-button.black {
  background: #000;
  color: #fff;
}
.b4-title {
  background: #f00;
  color: #fff;
  padding: 10px 20px;
  font-size: 14px;
}
.b4-item {
  padding: 10px 5px;
  border-right: 1px solid #cec7c7;
}
.b4-item:last-child .b4-item-text {
  border: none;
}
.b4-item-figure {
  width: 20%;
  display: inline-block;
  vertical-align: top;
}
.b4-item-figure img {
  border-radius: 50%;
}
.b4-item-box {
  width: 80%;
  display: inline-block;
  vertical-align: top;
  font-size: 14px;
  padding-left: 4%;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
.b4-item-title {
  letter-spacing: 1px;
  position: relative;
}
.b4-item-title h4 {
  margin-bottom: 0;
}
.b4-item-title p {
  font-size: 13px;
  font-style: italic;
  color: #808080;
  margin-bottom: 5px;
}
.b4-item-title .b4-icon {
  position: absolute;
  top: 0;
  right: 0;
  font-size: 16px;
}
.b4-item-text {
  border-bottom: 1px solid #cec7c7;
}
.b4-item-text p {
  height: 58px;
  overflow: hidden;
  line-height: 1.2;
  font-size: 12px;
  text-align: justify;
  color: #8e8e8e;
}
.b4-center {
  width: 54%;
  text-align: left;
  padding: 0 2%;
  font-size: 14px;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
.b4-center textarea {
  width: 100%;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  padding: 10px;
}
.b4-center button {
  border: none;
  width: 100%;
  background: #000;
  color: #fff;
}
.b4-center-title {
  font-weight: bold;
  font-size: 17px;
  letter-spacing: 2px;
  margin: 15px 10px;
}
.b4-center .b4-center-actions,
.b4-center .b4-center-fecha,
.b4-center .b4-center-like,
.b4-center .b4-center-compartir,
.b4-center .b4-center-comentarios,
.b4-center .b4-icon,
.b4-center span {
  display: inline-block;
  vertical-align: middle;
}
.b4-center .b4-center-actions {
  width: 70%;
}
.b4-center .b4-center-fecha {
  width: 29%;
  text-align: right;
}
.b4-center .b4-center-like,
.b4-center .b4-center-compartir,
.b4-center .b4-center-comentarios {
  border-right: 1px solid #808080;
  margin-right: 5px;
  padding-right: 5px;
}
.b4-center .b4-center-comentarios {
  border-right: none;
}
.b4-center-item2 {
  border: 1px solid #000;
  margin-top: 10px;
}
.b4-center-pickerfecha {
  font-size: 0;
}
.b4-center-pickerfecha .b4-icon {
  display: inline-block;
  vertical-align: middle;
  padding: 10px;
  width: 10%;
  border-right: 1px solid #000;
  font-size: 15px;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  text-align: center;
}
.b4-center-pickerfecha .b4-center-right {
  display: inline-block;
  vertical-align: middle;
  width: 90%;
  text-align: right;
}
.b4-center-pickerfecha .recientesMas,
.b4-center-pickerfecha .recientesMenos,
.b4-center-pickerfecha .relevancia {
  display: inline-block;
  vertical-align: middle;
  font-size: 15px;
  padding: 0 10px;
  font-style: italic;
}
.b4-center-item3 {
  font-size: 0;
  margin-top: 25px;
  position: relative;
}
.b4-center-item3 .b4-item-figure {
  width: 50px;
  vertical-align: middle;
}
.b4-center-item3 .b4-item-box {
  vertical-align: middle;
  width: 88%;
}
.b4-center-item3 .b4-item-title h4 {
  font-size: 18px;
}
.b4-center-item3 .b4-item-title p {
  font-size: 16px;
}
.b4-center-item3 .b4-item-titlebox {
  display: inline-block;
  width: 40%;
  vertical-align: middle;
}
.b4-center-item3 .b4-center-actions {
  width: 50%;
  text-align: right;
}
.b4-center-item3 .b4-item-text {
  margin-top: 10px;
  padding-bottom: 30px;
}
.b4-center-item3 .b4-item-text p {
  height: auto;
  font-size: 17px;
  color: #000;
}
.b4-center-item3 .b4-item-text ul {
  font-size: 17px;
  padding-left: 15px;
}
.b4-center-item3 .b4-item-text li {
  list-style-type: decimal;
}
.b4-center-item3 .b4-icon {
  position: inherit;
}
.b4-center-item3 .b4-item-text-fecha {
  font-size: 14px;
  position: absolute;
  bottom: 20px;
  right: 0;
}
.b4-center-comentarios-fb {
  width: 100%;
}
.b4-center-comentarios-fb input,
.b4-center-comentarios-fb button {
  width: 100%;
  border: none;
  background: transparent;
}
.b4-center-comentarios-fb input {
  border: 1px solid #000;
  height: 70px;
  padding: 10px;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
.b4-center-comentarios-fb button {
  background: #000;
  color: #fff;
  font-size: 30px;
  margin-top: 5px;
}
.b4-right {
  width: 23%;
  text-align: left;
  font-size: 0;
}
.b4-right .b4-title {
  background: #000;
  color: #fff;
}
.b4-right .b4-item {
  margin: 3px 0;
  border-bottom: 1px solid #cec7c7;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
.b4-right .b4-item:last-child {
  border-bottom: none;
}
.b4-right .b4-item-figure {
  width: 28%;
  vertical-align: middle;
}
.b4-right .b4-item-figure img {
  border-radius: 0;
}
.b4-right .b4-item-box {
  width: 72%;
  padding-left: 2%;
  vertical-align: middle;
}
.b4-right .b4-item-title h4 {
  font-size: 14px;
  font-style: italic;
}
.b4-right .b4-item-title p {
  font-size: 10px;
  color: #000;
  font-style: normal;
  line-height: 1;
  margin-top: 8px;
  font-weight: bold;
}
.b4-publicidad {
  margin-top: 10px;
}
.b4-publicidad img {
  width: 100%;
}
@media screen and (max-width: 960px) {
  .b4-right {
    display: none;
  }
  .b4-left {
    width: 33%;
  }
  .b4-center {
    width: 67%;
  }
}
@media screen and (max-width: 650px) {
  .b4-left {
    display: none;
  }
  .b4-center {
    width: 100%;
  }
  .b4-center .b4-center-fecha {
    width: 40%;
  }
  .b4-center .b4-center-actions {
    width: 50%;
  }
}
