.cf {
  zoom: 1;
}
.cf:after,
.cf:before {
  content: "";
  display: table;
}
.cf:after {
  clear: both;
}
.b5 {
  font-size: 0;
  margin-top: 130px;
}
.b5-left {
  width: 77%;
  display: inline-block;
  vertical-align: top;
  font-size: 14px;
  padding-right: 3%;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
.b5-left .b4-center-item2 {
  border: none;
}
.b5-left .b4-center-pickerfecha .b4-icon {
  border: none;
  width: 25%;
  font-weight: bold;
}
.b5-left .b4-item-title h4 {
  margin-bottom: 15px;
}
.b5-left .b4-center-pickerfecha .b4-center-right {
  width: 75%;
}
.b5-left .b4-center {
  width: 100%;
  margin-bottom: 10px;
}
.b5-left .b4-center .b4-icon {
  position: inherit;
}
.b5-left .b4-item-text {
  border: none;
}
.b5-left .b4-item-text p {
  height: auto;
  font-size: 17px;
  color: #000;
}
.b5-left .b4-item {
  padding: 0;
  margin-bottom: 5px;
  border-top: 1px solid #808080;
  border-right: none;
}
.b5-left-busqueda {
  font-size: 0px;
}
.b5-left-busqueda .b4-item img {
  border-radius: 0;
  max-width: 100%;
  height: auto;
  display: block;
}
.b5-left-busqueda .b4-item-figure,
.b5-left-busqueda .b4-item-box {
  vertical-align: middle;
}
.b5-left-busqueda .b4-item-figure {
  width: 30%;
  position: relative;
}
.b5-left-busqueda .b4-item-box {
  width: 70%;
  padding-left: 3%;
  padding-right: 1%;
  margin: 5px 0;
}
@media screen and (max-width: 960px) {
  .b5-left {
    width: 100%;
  }
}
@media screen and (max-width: 500px) {
  .b4-item-figure {
    display: none;
  }
  .b5-left-busqueda .b4-item-box {
    width: 100%;
  }
}
