.cf {
  zoom: 1;
}
.cf:after,
.cf:before {
  content: "";
  display: table;
}
.cf:after {
  clear: both;
}
#element {
  -webkit-animation-duration: 1s;
  -moz-animation-duration: 1s;
  -o-animation-duration: 1s;
  -ms-animation-duration: 1s;
  animation-duration: 1s;
  -webkit-animation-delay: 1s;
  -moz-animation-delay: 1s;
  -o-animation-delay: 1s;
  -ms-animation-delay: 1s;
  animation-delay: 1s;
}
#element2 {
  -webkit-animation-duration: 0.9s;
  -moz-animation-duration: 0.9s;
  -o-animation-duration: 0.9s;
  -ms-animation-duration: 0.9s;
  animation-duration: 0.9s;
  -webkit-animation-delay: 0.5s;
  -moz-animation-delay: 0.5s;
  -o-animation-delay: 0.5s;
  -ms-animation-delay: 0.5s;
  animation-delay: 0.5s;
}
#element3 {
  -webkit-animation-duration: 0.9s;
  -moz-animation-duration: 0.9s;
  -o-animation-duration: 0.9s;
  -ms-animation-duration: 0.9s;
  animation-duration: 0.9s;
  -webkit-animation-delay: 0.7s;
  -moz-animation-delay: 0.7s;
  -o-animation-delay: 0.7s;
  -ms-animation-delay: 0.7s;
  animation-delay: 0.7s;
}
#element4 {
  -webkit-animation-duration: 0.9s;
  -moz-animation-duration: 0.9s;
  -o-animation-duration: 0.9s;
  -ms-animation-duration: 0.9s;
  animation-duration: 0.9s;
  -webkit-animation-delay: 0.9s;
  -moz-animation-delay: 0.9s;
  -o-animation-delay: 0.9s;
  -ms-animation-delay: 0.9s;
  animation-delay: 0.9s;
}
#element5 {
  -webkit-animation-duration: 0.9s;
  -moz-animation-duration: 0.9s;
  -o-animation-duration: 0.9s;
  -ms-animation-duration: 0.9s;
  animation-duration: 0.9s;
  -webkit-animation-delay: 1.1s;
  -moz-animation-delay: 1.1s;
  -o-animation-delay: 1.1s;
  -ms-animation-delay: 1.1s;
  animation-delay: 1.1s;
}
#element6 {
  -webkit-animation-duration: 0.9s;
  -moz-animation-duration: 0.9s;
  -o-animation-duration: 0.9s;
  -ms-animation-duration: 0.9s;
  animation-duration: 0.9s;
  -webkit-animation-delay: 1.5s;
  -moz-animation-delay: 1.5s;
  -o-animation-delay: 1.5s;
  -ms-animation-delay: 1.5s;
  animation-delay: 1.5s;
  animation-time: infinite;
}
.b6 {
  font-size: 0;
  text-align: center;
  padding-bottom: 80px;
  padding-top: 10px;
}
.b6-programa {
  display: inline-block;
  vertical-align: top;
  width: 15.8%;
  margin: 0 0.4%;
  position: relative;
  -webkit-transition: 1s;
  -moz-transition: 1s;
  -o-transition: 1s;
  -ms-transition: 1s;
  transition: 1s;
}
.b6-programa img {
  max-width: 100%;
  height: auto;
  display: block;
}
.b6-programa:hover .b6-programa-hover {
  display: block;
}
.b6-programa:hover .b6-programa-hover2 {
  opacity: 1;
  -ms-filter: none;
  filter: none;
}
.b6-programa:last-child .b6-programa-hover {
  right: inherit;
  left: -165px;
}
.b6-programa:last-child .b6-programa-hover:before {
  right: -362px;
  left: inherit;
  border-color: transparent transparent transparent #fff;
  border-width: 10px 0 10px 12px;
}
.b6-programa-hover {
  position: absolute;
  top: -12px;
  bottom: -12px;
  margin: auto;
  right: -165px;
  color: #424242;
  font-size: 12px;
  text-align: left;
  background: #fff;
  padding: 15px;
  z-index: 1;
  width: 155px;
  border-radius: 6px;
  -webkit-box-shadow: 1px 2px 10px -3px rgba(0,0,0,0.64);
  box-shadow: 1px 2px 10px -3px rgba(0,0,0,0.64);
  height: 211px;
  display: none;
  opacity: 0.8;
  -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=80)";
  filter: alpha(opacity=80);
  -webkit-transition: all 0.25s;
  -moz-transition: all 0.25s;
  -o-transition: all 0.25s;
  -ms-transition: all 0.25s;
  transition: all 0.25s;
}
.b6-programa-hover:before {
  content: "";
  position: absolute;
  bottom: 50px;
  left: -12px;
  margin: auto;
  width: 0;
  height: 0;
  border-style: solid;
  border-width: 10px 12px 10px 0;
  border-color: transparent #fff transparent transparent;
}
.b6-programa-title {
  font-family: 'open_sansbold', sans-serif;
}
.b6-programa-descripcion {
  line-height: 1.2;
}
.b6-programa-info {
  font-size: 14px;
  text-align: right;
  display: block;
  font-family: 'open_sansbold', sans-serif;
  margin-top: 10px;
}
@media screen and (max-width: 1024px) {
  .b6-programa:hover .b6-programa-hover {
    opacity: 0;
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
    filter: alpha(opacity=0);
  }
}
@media screen and (max-width: 768px) {
  .b6-programa {
    width: 32%;
    margin-bottom: 0.8%;
  }
  .b6-programa:nth-child(3) {
    margin-right: 0;
  }
  .b6-programa:nth-child(4) {
    margin-left: 0;
  }
}
@media screen and (max-width: 480px) {
  .b6-programa {
    width: 49%;
    margin-bottom: 0.8%;
  }
  .b6-programa:nth-child(3) {
    margin-right: 0.4%;
  }
  .b6-programa:nth-child(4) {
    margin-left: 0.4%;
  }
  .b6-programa:first-child {
    margin-left: 0;
  }
  .b6-programa:last-child {
    margin-right: 0;
  }
}
/* CHICOS-IPE */
.chicos-ipe .b6-programa {
  margin-bottom: 10px;
}
