.cf {
  zoom: 1;
}
.cf:after,
.cf:before {
  content: "";
  display: table;
}
.cf:after {
  clear: both;
}
.b7 {
  text-align: center;
  font-size: 0;
}
.b7-figure {
  display: inline-block;
  vertical-align: top;
  width: 49%;
  margin: 0 0.5%;
}
.b7-figure img {
  max-width: 100%;
  height: auto;
  display: block;
}
.b7-figure5 {
  margin: 0 0.5%;
  margin-top: 2%;
}
.b7-figure5 img {
  max-width: 100%;
  height: auto;
  display: block;
  max-width: 100%;
}
@media screen and (max-width: 600px) {
  .b7-figure {
    display: block;
  }
}
