.cf {
  zoom: 1;
}
.cf:after,
.cf:before {
  content: "";
  display: table;
}
.cf:after {
  clear: both;
}
.b8 {
  background: #fff;
  padding: 5px;
}
.b8-logo {
  display: inline-block;
  vertical-align: middle;
}
