@font-face {
  font-family: 'icomoon';
  src:  url('fonts/icomoon.eot?yhzhey');
  src:  url('fonts/icomoon.eot?yhzhey#iefix') format('embedded-opentype'),
    url('fonts/icomoon.ttf?yhzhey') format('truetype'),
    url('fonts/icomoon.woff?yhzhey') format('woff'),
    url('fonts/icomoon.svg?yhzhey#icomoon') format('svg');
  font-weight: normal;
  font-style: normal;
}

[class^="icon-"], [class*=" icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'icomoon' !important;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-brand:before {
  content: "\e911";
  color: #0077b5;
}
.icon-mailico:before {
  content: "\e921";
  color: #515151;
}
.icon-facebook:before {
  content: "\e922";
  color: #515151;
}
.icon-creditos-foto:before {
  content: "\e920";
}
.icon-icon-iconoplaynegro:before {
  content: "\e90c";
}
.icon-trend:before {
  content: "\e91f";
  color: #5d5d5d;
}
.icon-artes:before {
  content: "\e91e";
}
.icon-musica:before {
  content: "\e91a";
}
.icon-TV:before {
  content: "\e91d";
}
.icon-play:before {
  content: "\e912";
}
.icon-envivo:before {
  content: "\e910";
}
.icon-PLACE:before {
  content: "\e90d";
}
.icon-TIME:before {
  content: "\e90e";
}
.icon-logo:before {
  content: "\e90f";
  color: #fff;
}
.icon-iconocorreo:before {
  content: "\e90a";
}
.icon-iconotelefono:before {
  content: "\e90b";
}
.icon-iconobusqueda:before {
  content: "\e900";
}
.icon-iconocalendar:before {
  content: "\e901";
}
.icon-iconofacebook:before {
  content: "\e902";
}
.icon-iconoflecha:before {
  content: "\e903";
}
.icon-iconoinstagram:before {
  content: "\e904";
}
.icon-iconomapa:before {
  content: "\e905";
}
.icon-iconoreloj:before {
  content: "\e906";
}
.icon-iconostreaming:before {
  content: "\e907";
}
.icon-iconotwitter:before {
  content: "\e908";
}
.icon-iconoyoutube:before {
  content: "\e909";
}
.icon-redo2:before {
  content: "\e968";
}
.icon-bubble:before {
  content: "\e96b";
}
.icon-heart:before {
  content: "\e9da";
}
.icon-play3:before {
  content: "\ea1c";
}
.icon-pause2:before {
  content: "\ea1d";
}
.icon-volume-high:before {
  content: "\ea26";
}
.icon-paragraph-justify:before {
  content: "\ea7a";
}
.icon-share2:before {
  content: "\ea82";
}
.icon-search:before {
  content: "\e612";
}
.icon-location:before {
  content: "\e600";
}
.icon-envelope:before {
  content: "\e61d";
}
.icon-close:before {
  content: "\e605";
}
.icon-social-facebook:before {
  content: "\e603";
}
.icon-social-twitter:before {
  content: "\e604";
}
.icon-menu:before {
  content: "\e602";
}
.icon-arrow-right:before {
  content: "\e606";
}
.icon-arrow-left:before {
  content: "\e607";
}
.icon-arrow-down:before {
  content: "\e608";
}
.icon-arrow-up:before {
  content: "\e609";
}
