{% extends "../common/_base2.html" %}

{% block cssadicional %}
<link rel="stylesheet" type="text/css" href="{{ STATIC_URL }}css/swiper.min.css">
<link href="https://fonts.googleapis.com/css?family=Roboto+Condensed" rel="stylesheet">
{%endblock %}

{% block classbody %}{% endblock %}

{% block content %}

<!-- BLOQUE 1 -->
<header class="header">
	<a href="" class="header-logo">
		<img src="{{ STATIC_URL }}media/LOGO-WEB-DANIELA-IZAGUIRRE.png" alt="">
	</a>
	<div class="header-right">
		<img src="{{ STATIC_URL }}media/visual-poet-and-nomad1.png" alt="">
	</div>
</header>
<div class="swiper-container">
	<div class="swiper-wrapper">
	    <div class="swiper-slide">
			<img src="{{ STATIC_URL }}media/1.jpg" alt="">
	    </div>
	    <div class="swiper-slide">
			<img src="{{ STATIC_URL }}media/2.jpg" alt="">
		</div>
	    <div class="swiper-slide">
			<img src="{{ STATIC_URL }}media/3.jpg" alt="">
		</div>
	    <div class="swiper-slide">
			<img src="{{ STATIC_URL }}media/4.jpg" alt="">
		</div>
	    <div class="swiper-slide">
			<img src="{{ STATIC_URL }}media/5.jpg" alt="">
		</div>
	    <div class="swiper-slide">
			<img src="{{ STATIC_URL }}media/6.jpg" alt="">
		</div>
	    <div class="swiper-slide">
			<img src="{{ STATIC_URL }}media/7.jpg" alt="">
		</div>
	    <div class="swiper-slide">
			<img src="{{ STATIC_URL }}media/8.jpg" alt="">
		</div>
	    <div class="swiper-slide">
			<img src="{{ STATIC_URL }}media/9.jpg" alt="">
		</div>
	    <div class="swiper-slide">
			<img src="{{ STATIC_URL }}media/10.jpg" alt="">
		</div>
	</div>
	<!-- Add Pagination -->
	<!-- <div class="swiper-pagination"></div> -->
	<!-- Add Arrows -->
	<div class="swiper-button-next"></div>
	<div class="swiper-button-prev"></div>
</div>
<footer class="footer">
	<div class="footer-left">
		<a href="mailto:info@danielaizaguirre.com" class="mail-link" itemprop="email">info@danielaizaguirre.com</a>
		<span class="icon-brand"></span>
	</div>
	<div class="footer-right">
		<p>All rights reserved.</p>
	</div>
</footer>


{% endblock %}
{% block jsfinal %}
<script src="{{ STATIC_URL }}js/swiper.min.js" type="text/javascript"></script>
<script type="text/javascript">
	$(function(){

		var swiper = new Swiper('.swiper-container', {
	        pagination: '.swiper-pagination',
	        nextButton: '.swiper-button-next',
        	prevButton: '.swiper-button-prev',
	        paginationClickable: true,
	        loop: true,
	        keyboardControl: true,
	        //autoplay: 3000,
	        //autoplayDisableOnInteraction: false,
       		mousewheelControl: true,
       		//direction: 'vertical'
	    });

	});
</script>
{% endblock %}
