{% extends "../common/_base2.html" %}

{% block cssadicional %}
<link rel="stylesheet" type="text/css" href="{{ STATIC_URL }}css/swiper.min.css">
<link href="https://fonts.googleapis.com/css?family=Roboto+Condensed" rel="stylesheet">
{%endblock %}

{% block classbody %}{% endblock %}

{% block content %}

<!-- BLOQUE 1 -->
<figure class="b2-img">
  <div class="b2-table">
    <img src="{{ STATIC_URL }}media/1.jpg" alt="">
  </div>
  <div class="b2-info">
    <p>
      Lorem ipsum dolor sit amet, consectetur adipisicing elit. Dolor quod, quas voluptatibus nisi. Consequuntur perferendis cumque, nobis ipsum in recusandae fuga, atque natus doloribus accusamus, earum quam dolorem, officiis excepturi.
    </p>
  </div>
</figure>


{% endblock %}
{% block jsfinal %}
<script src="{{ STATIC_URL }}js/swiper.min.js" type="text/javascript"></script>
<script type="text/javascript">
  $(function(){

    var altoPage = $(window).height();
    console.log(altoPage);

    $('.b2-table').height(altoPage);



$(document).on("submit","form", function(e){

console.log("submit")
  
  
  
e.preventDefault();
    
    
     $.ajax({
        url:'mail.php',
        type:'post',
        data:$('form').serialize(),
        success:function(){
        console.log("done")

        $("form").remove();
        $(".green").text("THANK YOU").show().css("pointer-events","none");
            //whatever you wanna do after the form is successfully submitted
        }
    });


});



$("html,body").scrollTop(0);
      
$(window).on('beforeunload', function(){
 $("html,body").scrollTop(0);
});
      
if( /Android|webOS|iPhone|iPad|iPod|BlackBerry|IEMobile|Opera Mini/i.test(navigator.userAgent) ) {

  $("html,body").height(($(window).height()*2));
  
  $("#image,.logo").on("click",function(){
      
        if($("body").hasClass("s")){
        $("html,body").animate({
            "scrollTop":($(document).height() - $(window).height() )-25
        },800,'swing');
        $("body").removeClass("s")
        $("h3").removeClass("a")
        }else{
          $("html,body").animate({
            "scrollTop":($(document).height() - $(window).height() ) -25
        },800,'swing');
        $("body").addClass("s")
        setTimeout(function(){
        $("h3").addClass("a")
        },1000)
        }
        
      });
      
    $("#image").height(document.documentElement.clientHeight);
      

}else{

  $("#image").height($(window).height());

  $("html,body").height($(window).height()*1.5);
  
  $("#image,.logo").on("click",function(){
      
        if($("body").hasClass("s")){
        $("html,body").animate({
            "scrollTop":0
        },800,'swing');
        $("body").removeClass("s")
        $("h3").removeClass("a")
        }else{
          $("html,body").animate({
            "scrollTop":$(document).height() - $(window).height()
        },800,'swing');
        $("body").addClass("s")
        setTimeout(function(){
        $("h3").addClass("a")
        },1000)
        }
        
      });
  
}     
    
  $(window).on("scroll",function(){
    
    
    $(".logo").css({
      "transform":"translate(-50%,-"+$(window).scrollTop()*2+"%)",
      "-webkit-transform":"translate(-50%,-"+Math.floor($(window).scrollTop()*2)+"%)"
    });
          
    
    if($(window).scrollTop() < 10 ){
       $("#info").removeClass("a")
       $("body").removeClass("s")
       //$("#menu").addClass("a")
       
    }else{
       
       $("#info").addClass("a")
       //$("#menu").removeClass("a")
    }
    
    if($(window).scrollTop() >= $(document).height()-$(window).height()){
      $("body").addClass("s")
       $("h3").addClass("a")
    }
    
  });
      
  setTimeout(function(){
    $("#image").addClass("a");
  },0);
  
  if($("#image").attr("data-image").indexOf("black") > -1){

    $(".logo img").attr("src","assets/images/logo-b.svg");
    setTimeout(function(){$(".logo img").show()},100);
    $("#image").addClass("black");




  }else{

    $(".logo img").attr("src","assets/images/logo.svg");
    setTimeout(function(){$(".logo img").show()},100);
    $("#image").removeClass("black");

   

  }
  
  
  
  if($("#image").attr("data-image").indexOf("old") > -1){

    $("h3").text("Photography By Nicholas Alan Cope")




  }else{

    $("h3").text("PHOTOGRAPHY BY ELLINOR STIGLE")

   

  }


  $(".green").on("click",function(e){

    e.preventDefault();


    if( /Android|webOS|iPhone|iPad|iPod|BlackBerry|IEMobile|Opera Mini/i.test(navigator.userAgent) ) {

       $(this).parent().append('<form action="mail.php" method="POST"><input name="ghost" type="text" id="ghost" class="ghost" /><input type="text" name="name" placeholder="NAME"><input type="text" name="email" placeholder="EMAIL"><input type="text" name="occasion" placeholder="OCCASION"><input type="text" name="budget" placeholder="BUDGET"><input type="text" name="date" placeholder="DATE"><input class="send green" type="submit" value="SEND"></form>');

      }else{

         $(this).parent().append('<form action="mail.php" method="POST"><input name="ghost" type="text" id="ghost" class="ghost" /><input type="text" name="name" placeholder="NAME"><input type="text" name="email" placeholder="EMAIL"><input type="text" name="occasion" placeholder="OCCASION"><input type="text" name="budget" placeholder="BUDGET"><input style="text-transform: uppercase" type="date" name="date" placeholder="DATE"><input class="send green" type="submit" value="SEND"></form>');

      }

    



  });
</script>
{% endblock %}
