{% extends "../common/_base2.html" %}

{% block cssadicional %}
{%endblock %}

{% block classbody %}{% endblock %}

{% block content %}

<!-- BLOQUE 3 -->
<section class="b3">
	<div class="wancho">
		<div class="b3-left">
			<div class="b3-sintonizador">
				<figure class="img">
					<img src="{{ STATIC_URL }}media/reproductor.jpg " alt="">
				</figure>
			</div>
			<div class="b3-descripcion">
				<h4 class="b3-nombre-radio">
					RADIO STUDIO 92
				</h4>
				<p class="b3-programa-radio">
					CHINO Y ADOLFO
				</p>
			</div>
			<div class="b3-botonera">
				<a href="" class="b3-prev">
					<
				</a>
				<a href="" class="b3-play .b3-pause">
					5
				</a>
				<a href="" class="b3-next">
					>
				</a>
				<div class="b3-box-volumen">
					<a href="" class="b3-volumen">
						Vol
					</a>
					<span class="b3-line-vertical"></span>
					<div class="b3-regulador-volumen"></div>
				</div>
			</div>
		</div>
		<div class="b3-right">
			<figure class="b3-emisora">
				<img src="{{ STATIC_URL }}media/moda.jpg" alt="">
			</figure>
			<figure class="b3-emisora">
				<img src="{{ STATIC_URL }}media/moda.jpg" alt="">
			</figure>
			<figure class="b3-emisora">
				<img src="{{ STATIC_URL }}media/moda.jpg" alt="">
			</figure>
			<figure class="b3-emisora">
				<img src="{{ STATIC_URL }}media/moda.jpg" alt="">
			</figure>
			<figure class="b3-emisora">
				<img src="{{ STATIC_URL }}media/moda.jpg" alt="">
			</figure>
			<figure class="b3-emisora">
				<img src="{{ STATIC_URL }}media/moda.jpg" alt="">
			</figure>
			<figure class="b3-emisora">
				<img src="{{ STATIC_URL }}media/moda.jpg" alt="">
			</figure>
			<figure class="b3-emisora">
				<img src="{{ STATIC_URL }}media/moda.jpg" alt="">
			</figure>
			<figure class="b3-emisora">
				<img src="{{ STATIC_URL }}media/moda.jpg" alt="">
			</figure>
			<figure class="b3-emisora">
				<img src="{{ STATIC_URL }}media/moda.jpg" alt="">
			</figure>
			<figure class="b3-emisora">
				<img src="{{ STATIC_URL }}media/moda.jpg" alt="">
			</figure>
			<figure class="b3-emisora">
				<img src="{{ STATIC_URL }}media/moda.jpg" alt="">
			</figure>
			<figure class="b3-emisora">
				<img src="{{ STATIC_URL }}media/moda.jpg" alt="">
			</figure>
			<figure class="b3-emisora">
				<img src="{{ STATIC_URL }}media/moda.jpg" alt="">
			</figure>
			<figure class="b3-emisora">
				<img src="{{ STATIC_URL }}media/moda.jpg" alt="">
			</figure>
			<figure class="b3-emisora">
				<img src="{{ STATIC_URL }}media/moda.jpg" alt="">
			</figure>
		</div>
		<figure class="b3-publicidad">
			<img src="{{ STATIC_URL }}media/publicidadM.jpg" alt="">
		</figure>
	</div>
</section>




{% endblock %}
{% block jsfinal %}
<script type="text/javascript">
	$(function(){

	});
</script>
{% endblock %}
