{% extends "../common/_base2.html" %}

{% block cssadicional %}
{%endblock %}

{% block classbody %}{% endblock %}

{% block content %}

<!-- BLOQUE 4 -->
<section class="b4">
  <div class="wancho">
    <div class="b4-left">
      <div class="b4-title">
        NUEVOS <strong>TEMAS</strong>
      </div>
      <div class="b4-item">
        <figure class="b4-item-figure">
          <img src="{{ STATIC_URL }}media/avatar.png" alt="">
        </figure>
        <div class="b4-item-box">
          <div class="b4-item-title">
            <h4>
              <strong>
                HOLLYWOOD
              </strong>
            </h4>
            <p>UNDER FIRE</p>
            <div class="b4-icon icon-play"></div>
          </div>
          <div class="b4-item-text">
            <p>
              Lorem ipsum dolor sit amet, consectetur adipisicing elit. Unde, enim molestiae minima accusamus iste consectetur rerum voluptatem itaque, impedit nesciunt nam totam aspernatur, ad? Quae deleniti, illo maxime doloribus. Ex!
            </p>
          </div>
        </div>
      </div>
      <div class="b4-item">
        <figure class="b4-item-figure">
          <img src="{{ STATIC_URL }}media/avatar.png" alt="">
        </figure>
        <div class="b4-item-box">
          <div class="b4-item-title">
            <h4>
              <strong>
                HOLLYWOOD
              </strong>
            </h4>
            <p>UNDER FIRE</p>
            <div class="b4-icon icon-play"></div>
          </div>
          <div class="b4-item-text">
            <p>
              Lorem ipsum dolor sit amet, consectetur adipisicing elit. Unde, enim molestiae minima accusamus iste consectetur rerum voluptatem itaque, impedit nesciunt nam totam aspernatur, ad? Quae deleniti, illo maxime doloribus. Ex!
            </p>
          </div>
        </div>
      </div>
      <div class="b4-item">
        <figure class="b4-item-figure">
          <img src="{{ STATIC_URL }}media/avatar.png" alt="">
        </figure>
        <div class="b4-item-box">
          <div class="b4-item-title">
            <h4>
              <strong>
                HOLLYWOOD
              </strong>
            </h4>
            <p>UNDER FIRE</p>
            <div class="b4-icon icon-play"></div>
          </div>
          <div class="b4-item-text">
            <p>
              Lorem ipsum dolor sit amet, consectetur adipisicing elit. Unde, enim molestiae minima accusamus iste consectetur rerum voluptatem itaque, impedit nesciunt nam totam aspernatur, ad? Quae deleniti, illo maxime doloribus. Ex!
            </p>
          </div>
        </div>
      </div>
      <div class="b4-item">
        <figure class="b4-item-figure">
          <img src="{{ STATIC_URL }}media/avatar.png" alt="">
        </figure>
        <div class="b4-item-box">
          <div class="b4-item-title">
            <h4>
              <strong>
                HOLLYWOOD
              </strong>
            </h4>
            <p>UNDER FIRE</p>
            <div class="b4-icon icon-play"></div>
          </div>
          <div class="b4-item-text">
            <p>
              Lorem ipsum dolor sit amet, consectetur adipisicing elit. Unde, enim molestiae minima accusamus iste consectetur rerum voluptatem itaque, impedit nesciunt nam totam aspernatur, ad? Quae deleniti, illo maxime doloribus. Ex!
            </p>
          </div>
        </div>
      </div>
      <div class="b4-item">
        <figure class="b4-item-figure">
          <img src="{{ STATIC_URL }}media/avatar.png" alt="">
        </figure>
        <div class="b4-item-box">
          <div class="b4-item-title">
            <h4>
              <strong>
                HOLLYWOOD
              </strong>
            </h4>
            <p>UNDER FIRE</p>
            <div class="b4-icon icon-play"></div>
          </div>
          <div class="b4-item-text">
            <p>
              Lorem ipsum dolor sit amet, consectetur adipisicing elit. Unde, enim molestiae minima accusamus iste consectetur rerum voluptatem itaque, impedit nesciunt nam totam aspernatur, ad? Quae deleniti, illo maxime doloribus. Ex!
            </p>
          </div>
        </div>
      </div>
      <div class="b4-item">
        <figure class="b4-item-figure">
          <img src="{{ STATIC_URL }}media/avatar.png" alt="">
        </figure>
        <div class="b4-item-box">
          <div class="b4-item-title">
            <h4>
              <strong>
                HOLLYWOOD
              </strong>
            </h4>
            <p>UNDER FIRE</p>
            <div class="b4-icon icon-play"></div>
          </div>
          <div class="b4-item-text">
            <p>
              Lorem ipsum dolor sit amet, consectetur adipisicing elit. Unde, enim molestiae minima accusamus iste consectetur rerum voluptatem itaque, impedit nesciunt nam totam aspernatur, ad? Quae deleniti, illo maxime doloribus. Ex!
            </p>
          </div>
        </div>
      </div>
      <div class="b4-item">
        <figure class="b4-item-figure">
          <img src="{{ STATIC_URL }}media/avatar.png" alt="">
        </figure>
        <div class="b4-item-box">
          <div class="b4-item-title">
            <h4>
              <strong>
                HOLLYWOOD
              </strong>
            </h4>
            <p>UNDER FIRE</p>
            <div class="b4-icon icon-play"></div>
          </div>
          <div class="b4-item-text">
            <p>
              Lorem ipsum dolor sit amet, consectetur adipisicing elit. Unde, enim molestiae minima accusamus iste consectetur rerum voluptatem itaque, impedit nesciunt nam totam aspernatur, ad? Quae deleniti, illo maxime doloribus. Ex!
            </p>
          </div>
        </div>
      </div>
    </div>
    <div class="b4-center">
      <div class="b4-center-form">
        <form action="">
            <textarea name="" id="" cols="30" rows="4" placeholder="PUBLICAR TEMA..."></textarea>
          <button>a</button>
        </form>
      </div>
      <div class="b4-center-title">
        HOLLYWOOD FIRE LATEST CONSECTS?
      </div>
      <div class="b4-center-item">
        <div class="b4-center-actions">
          <div class="b4-center-like">
            <div class="b4-icon icon-play"></div>
            <span>20</span>
          </div>
          <div class="b4-center-compartir">
            <div class="b4-icon icon-play"></div>
            <span>3</span>
          </div>
          <div class="b4-center-comentarios">
            <div class="b4-icon icon-play"></div>
            <span>5</span>
          </div>
        </div>
        <div class="b4-center-fecha">
          20, MAY 2017
        </div>
      </div>
      <div class="b4-center-item2">
        <div class="b4-center-pickerfecha">
          <div class="b4-icon icon-iconocalendar"></div>
          <div class="b4-center-right">
            <a href="" class="recientesMas">
              + RECIENTES
            </a>
            <a href="" class="recientesMenos">
              + RECIENTES
            </a>
            <a href="" class="relevancia">
              + RECIENTES
            </a>
          </div>
        </div>
      </div>
      <div class="b4-center-item3">
        <figure class="b4-item-figure">
          <img src="{{ STATIC_URL }}media/avatar.png" alt="">
        </figure>
        <div class="b4-item-box">
          <div class="b4-item-title">
            <div class="b4-item-titlebox">
              <h4>
                <strong>
                  HOLLYWOOD
                </strong>
              </h4>
              <p>UNDER FIRE</p>
            </div>
            <div class="b4-center-actions">
              <div class="b4-center-like">
                <div class="b4-icon icon-play"></div>
                <span>20</span>
              </div>
              <div class="b4-center-compartir">
                <div class="b4-icon icon-play"></div>
                <span>3</span>
              </div>
              <div class="b4-center-comentarios">
                <div class="b4-icon icon-play"></div>
                <span>5</span>
              </div>
            </div>
          </div>
        </div>
        <div class="b4-item-text">
          <p>
            Lorem ipsum dolor sit amet, consectetur adipisicing elit. Illum provident doloremque repudiandae ipsa nam distinctio quibusdam reprehenderit optio dicta iure, ea voluptatem dolorum, commodi aperiam dolorem libero delectus consequatur tempore.nam distinctio quibusdam reprehenderit optio dicta iure, ea voluptatem dolorum, commodi aperiam dolorem libero delectus consequatur tempore.
          </p>
          <div class="b4-item-text-fecha">
              20, MAY 2017
          </div>
        </div>
      </div>
      <div class="b4-center-item3">
        <figure class="b4-item-figure">
          <img src="{{ STATIC_URL }}media/avatar.png" alt="">
        </figure>
        <div class="b4-item-box">
          <div class="b4-item-title">
            <div class="b4-item-titlebox">
              <h4>
                <strong>
                  HOLLYWOOD
                </strong>
              </h4>
              <p>UNDER FIRE</p>
            </div>
            <div class="b4-center-actions">
              <div class="b4-center-like">
                <div class="b4-icon icon-play"></div>
                <span>20</span>
              </div>
              <div class="b4-center-compartir">
                <div class="b4-icon icon-play"></div>
                <span>3</span>
              </div>
              <div class="b4-center-comentarios">
                <div class="b4-icon icon-play"></div>
                <span>5</span>
              </div>
            </div>
          </div>
        </div>
        <div class="b4-item-text">
          <p>
            Lorem ipsum dolor sit amet, consectetur adipisicing elit. Illum provident doloremque repudiandae ipsa nam distinctio quibusdam reprehenderit optio dicta iure, ea voluptatem dolorum, commodi aperiam dolorem libero delectus consequatur tempore.nam distinctio quibusdam reprehenderit optio dicta iure, ea voluptatem dolorum, commodi aperiam dolorem libero delectus consequatur tempore.
          </p>
          <div class="b4-item-text-fecha">
              20, MAY 2017
          </div>
        </div>
      </div>
      <div class="b4-center-item3">
        <figure class="b4-item-figure">
          <img src="{{ STATIC_URL }}media/avatar.png" alt="">
        </figure>
        <div class="b4-item-box">
          <div class="b4-item-title">
            <div class="b4-item-titlebox">
              <h4>
                <strong>
                  HOLLYWOOD
                </strong>
              </h4>
              <p>UNDER FIRE</p>
            </div>
            <div class="b4-center-actions">
              <div class="b4-center-like">
                <div class="b4-icon icon-play"></div>
                <span>20</span>
              </div>
              <div class="b4-center-compartir">
                <div class="b4-icon icon-play"></div>
                <span>3</span>
              </div>
              <div class="b4-center-comentarios">
                <div class="b4-icon icon-play"></div>
                <span>5</span>
              </div>
            </div>
          </div>
        </div>
        <div class="b4-item-text">
          <p>
            Lorem ipsum dolor sit amet, consectetur adipisicing elit. Illum provident doloremque repudiandae ipsa nam distinctio quibusdam reprehenderit optio dicta iure, ea voluptatem dolorum, commodi aperiam dolorem libero delectus consequatur tempore.nam distinctio quibusdam reprehenderit optio dicta iure, ea voluptatem dolorum, commodi aperiam dolorem libero delectus consequatur tempore.
          </p>
          <div class="b4-item-text-fecha">
              20, MAY 2017
          </div>
        </div>
      </div>
    </div>
    <div class="b4-right">
      <div class="b4-title">
        MÁS <strong>DESTACADOS</strong>
      </div>
      <div class="b4-item">
        <figure class="b4-item-figure">
          <img src="{{ STATIC_URL }}media/avatar.png" alt="">
        </figure>
        <div class="b4-item-box">
          <div class="b4-item-title">
            <h4>20, MAY 2017</h4>
            <p>LOREM IPSOM DOLOR SIT AMET, LAS UT CONSECTETUR ADIPISCING ELIT</p>
          </div>
        </div>
      </div>
      <div class="b4-item">
        <figure class="b4-item-figure">
          <img src="{{ STATIC_URL }}media/avatar.png" alt="">
        </figure>
        <div class="b4-item-box">
          <div class="b4-item-title">
            <h4>20, MAY 2017</h4>
            <p>LOREM IPSOM DOLOR SIT AMET, LAS UT CONSECTETUR ADIPISCING ELIT</p>
          </div>
        </div>
      </div>
      <div class="b4-item">
        <figure class="b4-item-figure">
          <img src="{{ STATIC_URL }}media/avatar.png" alt="">
        </figure>
        <div class="b4-item-box">
          <div class="b4-item-title">
            <h4>20, MAY 2017</h4>
            <p>LOREM IPSOM DOLOR SIT AMET, LAS UT CONSECTETUR ADIPISCING ELIT</p>
          </div>
        </div>
      </div>
      <div class="b4-item">
        <figure class="b4-item-figure">
          <img src="{{ STATIC_URL }}media/avatar.png" alt="">
        </figure>
        <div class="b4-item-box">
          <div class="b4-item-title">
            <h4>20, MAY 2017</h4>
            <p>LOREM IPSOM DOLOR SIT AMET, LAS UT CONSECTETUR ADIPISCING ELIT</p>
          </div>
        </div>
      </div>
      <div class="b4-item">
        <figure class="b4-item-figure">
          <img src="{{ STATIC_URL }}media/avatar.png" alt="">
        </figure>
        <div class="b4-item-box">
          <div class="b4-item-title">
            <h4>20, MAY 2017</h4>
            <p>LOREM IPSOM DOLOR SIT AMET, LAS UT CONSECTETUR ADIPISCING ELIT</p>
          </div>
        </div>
      </div>
      <div class="b4-item">
        <figure class="b4-item-figure">
          <img src="{{ STATIC_URL }}media/avatar.png" alt="">
        </figure>
        <div class="b4-item-box">
          <div class="b4-item-title">
            <h4>20, MAY 2017</h4>
            <p>LOREM IPSOM DOLOR SIT AMET, LAS UT CONSECTETUR ADIPISCING ELIT</p>
          </div>
        </div>
      </div>
      <div class="b4-publicidad">
        <img src="{{STATIC_URL}}media/publi3.jpg" alt="">
      </div>
    </div>
  </div>
</section>




{% endblock %}
{% block jsfinal %}
<script type="text/javascript">
	$(function(){
	});
</script>
{% endblock %}
