{% extends "../common/_base2.html" %}

{% block cssadicional %}
{%endblock %}

{% block classbody %}{% endblock %}

{% block content %}

<section class="b5">
	<div class="wancho">
		<a href="" class="b4-item-button black">
			<span class="icon-arrow-down"></span>
		</a>
		<div class="b5-left">
			<div class="b4-center-item2">
				<div class="b4-center-pickerfecha">
					<div class="b4-icon">RESULTADO DE BÚSQUEDA</div>
					<div class="b4-center-right">
						<a href="" class="recientesMas">
						  + RECIENTES
						</a>
						<a href="" class="recientesMenos">
						  + RECIENTES
						</a>
						<a href="" class="relevancia">
						  + RECIENTES
						</a>
					</div>
				</div>
			</div>
			<div class="b5-left-busqueda">
				<div class="b4-items">
			        <div class="b4-item">
			          <figure class="b4-item-figure">
			            <img src="{{ STATIC_URL }}media/avatar.png" alt="">
			            <span class="b2-figure-categoria">
			              DEPORTES
			            </span>
			          </figure>
			          <div class="b4-item-box">
			            <div class="b4-item-title">
			              <h4>
			                <strong>
			                  HOLLYWOOD
			                </strong>
			              </h4>
			              <div class="b4-center">
			              	<div class="b4-center-item">
						        <div class="b4-center-actions">
						          <div class="b4-center-like">
						            <div class="b4-icon icon-heart"></div>
						            <span>20</span>
						          </div>
						          <div class="b4-center-compartir">
						            <div class="b4-icon icon-redo2"></div>
						            <span>3</span>
						          </div>
						          <div class="b4-center-comentarios">
						            <div class="b4-icon icon-bubble"></div>
						            <span>5</span>
						          </div>
						        </div>
						        <div class="b4-center-fecha">
						          20, MAY 2017
						        </div>
						      </div>
			              </div>
			            </div>
			            <div class="b4-item-text">
			              <p>
			                Lorem ipsum dolor sit amet, consectetur adipisicing elit. Unde, enim molestiae minima accusamus iste consectetur rerum voluptatem itaque, impedit nesciunt nam totam aspernatur, ad? Quae deleniti, illo maxime doloribus. Ex!
			              </p>
			            </div>
			          </div>
			        </div>
			        <div class="b4-item">
			          <figure class="b4-item-figure">
			            <img src="{{ STATIC_URL }}media/avatar.png" alt="">
			            <span class="b2-figure-categoria">
			              DEPORTES
			            </span>
			          </figure>
			          <div class="b4-item-box">
			            <div class="b4-item-title">
			              <h4>
			                <strong>
			                  HOLLYWOOD
			                </strong>
			              </h4>
			              <div class="b4-center">
			              	<div class="b4-center-item">
						        <div class="b4-center-actions">
						          <div class="b4-center-like">
						            <div class="b4-icon icon-heart"></div>
						            <span>20</span>
						          </div>
						          <div class="b4-center-compartir">
						            <div class="b4-icon icon-redo2"></div>
						            <span>3</span>
						          </div>
						          <div class="b4-center-comentarios">
						            <div class="b4-icon icon-bubble"></div>
						            <span>5</span>
						          </div>
						        </div>
						        <div class="b4-center-fecha">
						          20, MAY 2017
						        </div>
						      </div>
			              </div>
			            </div>
			            <div class="b4-item-text">
			              <p>
			                Lorem ipsum dolor sit amet, consectetur adipisicing elit. Unde, enim molestiae minima accusamus iste consectetur rerum voluptatem itaque, impedit nesciunt nam totam aspernatur, ad? Quae deleniti, illo maxime doloribus. Ex!
			              </p>
			            </div>
			          </div>
			        </div>
			        <div class="b4-item">
			          <figure class="b4-item-figure">
			            <img src="{{ STATIC_URL }}media/avatar.png" alt="">
			            <span class="b2-figure-categoria">
			              DEPORTES
			            </span>
			          </figure>
			          <div class="b4-item-box">
			            <div class="b4-item-title">
			              <h4>
			                <strong>
			                  HOLLYWOOD
			                </strong>
			              </h4>
			              <div class="b4-center">
			              	<div class="b4-center-item">
						        <div class="b4-center-actions">
						          <div class="b4-center-like">
						            <div class="b4-icon icon-heart"></div>
						            <span>20</span>
						          </div>
						          <div class="b4-center-compartir">
						            <div class="b4-icon icon-redo2"></div>
						            <span>3</span>
						          </div>
						          <div class="b4-center-comentarios">
						            <div class="b4-icon icon-bubble"></div>
						            <span>5</span>
						          </div>
						        </div>
						        <div class="b4-center-fecha">
						          20, MAY 2017
						        </div>
						      </div>
			              </div>
			            </div>
			            <div class="b4-item-text">
			              <p>
			                Lorem ipsum dolor sit amet, consectetur adipisicing elit. Unde, enim molestiae minima accusamus iste consectetur rerum voluptatem itaque, impedit nesciunt nam totam aspernatur, ad? Quae deleniti, illo maxime doloribus. Ex!
			              </p>
			            </div>
			          </div>
			        </div>
			        <div class="b4-item">
			          <figure class="b4-item-figure">
			            <img src="{{ STATIC_URL }}media/avatar.png" alt="">
			            <span class="b2-figure-categoria">
			              DEPORTES
			            </span>
			          </figure>
			          <div class="b4-item-box">
			            <div class="b4-item-title">
			              <h4>
			                <strong>
			                  HOLLYWOOD
			                </strong>
			              </h4>
			              <div class="b4-center">
			              	<div class="b4-center-item">
						        <div class="b4-center-actions">
						          <div class="b4-center-like">
						            <div class="b4-icon icon-heart"></div>
						            <span>20</span>
						          </div>
						          <div class="b4-center-compartir">
						            <div class="b4-icon icon-redo2"></div>
						            <span>3</span>
						          </div>
						          <div class="b4-center-comentarios">
						            <div class="b4-icon icon-bubble"></div>
						            <span>5</span>
						          </div>
						        </div>
						        <div class="b4-center-fecha">
						          20, MAY 2017
						        </div>
						      </div>
			              </div>
			            </div>
			            <div class="b4-item-text">
			              <p>
			                Lorem ipsum dolor sit amet, consectetur adipisicing elit. Unde, enim molestiae minima accusamus iste consectetur rerum voluptatem itaque, impedit nesciunt nam totam aspernatur, ad? Quae deleniti, illo maxime doloribus. Ex!
			              </p>
			            </div>
			          </div>
			        </div>
			      </div>   
			</div>
		</div>
		<div class="b4-right">
	      <div class="b4-title">
	        MÁS <strong>DESTACADOS</strong>
	      </div>
	      <div class="b4-items">
	          <div class="b4-item">
	            <figure class="b4-item-figure">
	              <img src="{{ STATIC_URL }}media/avatar.png" alt="">
	            </figure>
	            <div class="b4-item-box">
	              <div class="b4-item-title">
	                <h4>20, MAY 2017</h4>
	                <p>LOREM IPSOM DOLOR SIT AMET, LAS UT CONSECTETUR ADIPISCING ELIT</p>
	              </div>
	            </div>
	          </div>
	          <div class="b4-item">
	            <figure class="b4-item-figure">
	              <img src="{{ STATIC_URL }}media/avatar.png" alt="">
	            </figure>
	            <div class="b4-item-box">
	              <div class="b4-item-title">
	                <h4>20, MAY 2017</h4>
	                <p>LOREM IPSOM DOLOR SIT AMET, LAS UT CONSECTETUR ADIPISCING ELIT</p>
	              </div>
	            </div>
	          </div>
	          <div class="b4-item">
	            <figure class="b4-item-figure">
	              <img src="{{ STATIC_URL }}media/avatar.png" alt="">
	            </figure>
	            <div class="b4-item-box">
	              <div class="b4-item-title">
	                <h4>20, MAY 2017</h4>
	                <p>LOREM IPSOM DOLOR SIT AMET, LAS UT CONSECTETUR ADIPISCING ELIT</p>
	              </div>
	            </div>
	          </div>
	          <div class="b4-item">
	            <figure class="b4-item-figure">
	              <img src="{{ STATIC_URL }}media/avatar.png" alt="">
	            </figure>
	            <div class="b4-item-box">
	              <div class="b4-item-title">
	                <h4>20, MAY 2017</h4>
	                <p>LOREM IPSOM DOLOR SIT AMET, LAS UT CONSECTETUR ADIPISCING ELIT</p>
	              </div>
	            </div>
	          </div>
	          <div class="b4-item">
	            <figure class="b4-item-figure">
	              <img src="{{ STATIC_URL }}media/avatar.png" alt="">
	            </figure>
	            <div class="b4-item-box">
	              <div class="b4-item-title">
	                <h4>20, MAY 2017</h4>
	                <p>LOREM IPSOM DOLOR SIT AMET, LAS UT CONSECTETUR ADIPISCING ELIT</p>
	              </div>
	            </div>
	          </div>
	          <div class="b4-item">
	            <figure class="b4-item-figure">
	              <img src="{{ STATIC_URL }}media/avatar.png" alt="">
	            </figure>
	            <div class="b4-item-box">
	              <div class="b4-item-title">
	                <h4>20, MAY 2017</h4>
	                <p>LOREM IPSOM DOLOR SIT AMET, LAS UT CONSECTETUR ADIPISCING ELIT</p>
	              </div>
	            </div>
	          </div>
	      </div>
	      <a href="" class="b4-item-button red">
	        <span class="icon-arrow-down"></span>
	      </a>
	      <div class="b4-publicidad">
	        <img src="{{STATIC_URL}}media/publi3.jpg" alt="">
	      </div>
	    </div>
	</div>
</section>

{% endblock %}
{% block jsfinal %}
<script type="text/javascript">
	$(function(){

	});
</script>
{% endblock %}

