{% extends "../common/_base2.html" %}

{% block cssadicional %}
<link rel="stylesheet" href="{{ STATIC_URL }}css/animate.css">
{%endblock %}

{% block classbody %}{% endblock %}

{% block content %}

<!-- BLOQUE 6 -->
<section class="b6">
	<div class="wancho">
 		<div class="gral-left">
		 	<h2 class="title-general">Programas</h2>
		</div>
		<div class="gral-right">
			<a href="" class="title-general2">Más</a>
		</div>
 		<div class="b6-programas" id="element">
			<figure class="b6-programa">
				<a href="">
					<img src="{{ STATIC_URL }}media/arte-manifiesto.jpg" alt="">
				</a>
				<div class="b6-programa-hover">
					<div class="b6-programa-title">
						<h4>Arte Manifiesto</h4>
					</div>
					<div class="b6-programa-descripcion">
						<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed eiusmod tempor incidunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquid...</p>
					</div>
					<a href="" class="b6-programa-info">+ Info</a>
				</div>
			</figure>
			<figure class="b6-programa">
				<a href="">
					<img src="{{ STATIC_URL }}media/mapasonoro.jpg" alt="">
				</a>
				<div class="b6-programa-hover">
					<div class="b6-programa-title">
						<h4>Arte Manifiesto</h4>
					</div>
					<div class="b6-programa-descripcion">
						<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed eiusmod tempor incidunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquid...</p>
					</div>
					<a href="" class="b6-programa-info">+ Info</a>
				</div>
			</figure>
			<figure class="b6-programa">
				<a href="">
					<img src="{{ STATIC_URL }}media/los-cazaventuras.jpg" alt="">
				</a>
				<div class="b6-programa-hover">
					<div class="b6-programa-title">
						<h4>Arte Manifiesto</h4>
					</div>
					<div class="b6-programa-descripcion">
						<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed eiusmod tempor incidunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquid...</p>
					</div>
					<a href="" class="b6-programa-info">+ Info</a>
				</div>
			</figure>
			<figure class="b6-programa">
				<a href="">
					<img src="{{ STATIC_URL }}media/copia-cero.jpg" alt="">
				</a>
				<div class="b6-programa-hover">
					<div class="b6-programa-title">
						<h4>Arte Manifiesto</h4>
					</div>
					<div class="b6-programa-descripcion">
						<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed eiusmod tempor incidunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquid...</p>
					</div>
					<a href="" class="b6-programa-info">+ Info</a>
				</div>
			</figure>
			<figure class="b6-programa">
				<a href="">
					<img src="{{ STATIC_URL }}media/creaturas.jpg" alt="">
				</a>
				<div class="b6-programa-hover">
					<div class="b6-programa-title">
						<h4>Arte Manifiesto</h4>
					</div>
					<div class="b6-programa-descripcion">
						<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed eiusmod tempor incidunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquid...</p>
					</div>
					<a href="" class="b6-programa-info">+ Info</a>
				</div>
			</figure>
			<figure class="b6-programa">
				<a href="">
					<img src="{{ STATIC_URL }}media/mi-escuela.jpg" alt="">
				</a>
				<div class="b6-programa-hover">
					<div class="b6-programa-title">
						<h4>Arte Manifiesto</h4>
					</div>
					<div class="b6-programa-descripcion">
						<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed eiusmod tempor incidunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquid...</p>
					</div>
					<a href="" class="b6-programa-info">+ Info</a>
				</div>
			</figure>
 		</div>
	</div>
</section>



{% endblock %}
{% block jsfinal %}
<script type="text/javascript">
	$(function(){
	});

</script>
{% endblock %}
