{% extends "../common/_base2.html" %}

{% block cssadicional %}
{%endblock %}

{% block classbody %}{% endblock %}

{% block content %}

<!-- BLOQUE 7 -->
<section class="b7">
	<div class="wancho">
		<div class="b7-dos-img">
			<div class="b7-figure">
				<a href="" class="b7-img">
					<img src="{{ STATIC_URL }}media/publicidad1.jpg" alt="">			
				</a>
			</div>
			<div class="b7-figure">
				<a href="" class="b7-img">
					<img src="{{ STATIC_URL }}media/publicidad2.jpg" alt="">			
				</a>
			</div>
		</div>
		<div class="b7-figure5">
			<a href="" class="b7-img">
				<img src="{{ STATIC_URL }}media/publicidad3.jpg" alt="">
			</a>
		</div>
	</div>
</section>


{% endblock %}
{% block jsfinal %}
<script type="text/javascript">
	$(function(){

	});
</script>
{% endblock %}
