{% extends "../common/_base2.html" %}

{% block cssadicional %}
{%endblock %}

{% block classbody %}{% endblock %}

{% block content %}

<!-- BLOQUE 8 -->
<section class="b8">
	<div class="wancho">
		<a href="" class="b8-logo">
			<img src="{{ STATIC_URL }}" alt="">
		</a>
		<div class="b8-title">
			<h2>Programas <br> juveniles</h2>
		</div>
		<a href="" class="b8-btn">
			<h2>Programas <br> infantiles</h2>
		</a>
	</div>
</section>



{% endblock %}
{% block jsfinal %}
<script type="text/javascript">
	$(function(){

	});
</script>
{% endblock %}
