{% extends "../common/_base3.html" %}

{% block cssadicional %}
{%endblock %}

{% block classbody %}{% endblock %}

{% block content %}
 



<!-- generales -->
<div class="block-general">
	<div class="gral-left">
	 	<h2 class="title-general">Últimas historias</h2>
	</div> 			
</div>

 <div class="block-general">
 	<div class="gral-right">
		<a href="" class="title-general2">Guía</a>
	</div>
</div>


 
{% endblock %}
{% block jsfinal %}
<script type="text/javascript">
 
</script>
{% endblock %}
