{% extends "common/_base.html" %}

{% block cssadicional %}

{% endblock %}

{% block classbody %}{% endblock %}

{% block content %}
  
<!-- BLOQUE 1 -->
<p>HOla</p>

{% endblock %}
{% block jsfinal %}

<script type="text/javascript">

  $(function(){


  });
</script>
{% endblock %}